<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-default">
    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">
        <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="false" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>
        <mat-drawer-content class="flex flex-col">
            <div class="flex-auto">
                <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-3 px-6 md:px-8">
                    <!-- Title -->
                    <div>
                        <div class="text-3xl font-bold tracking-tight leading-none">Leads</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="leadCount > 0">
                                {{leadCount}}
                            </ng-container>
                            {{leadCount | i18nPlural: {
                            '=0' : 'No Leads',
                            '=1' : 'Lead',
                            'other': 'Leads'
                            } }}
                        </div>
                    </div>
                    <!-- Main actions -->
                    <div class="flex items-center mt-4 mb-2 sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">
                            <mat-form-field
                                class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input matInput (keyup)="applyFilter($event)" [formControl]="searchInputControl"
                                    [autocomplete]="'off'" [placeholder]="'Search Leads'">
                            </mat-form-field>
                        </div>
                        <!-- Add contact button -->
                        <button class="ml-4 h-9" mat-flat-button [color]="'primary'" (click)="createLead()">
                            <!-- <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon> -->
                            <span class="ml-2 mr-1">Create Lead</span>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6  sm:px-8">
                    <div class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
                        matRipple [matMenuTriggerFor]="projectsMenu">
                        <div class="flex items-center">
                            <div class="overflow-hidden">
                                <ng-container *ngIf="customList$|async as customList">
                                    <div class="font-medium leading-6 truncate">{{customList.listTitle}}</div>
                                </ng-container>
                            </div>
                            <div class="flex items-center justify-center pl-2">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                            </div>
                        </div>
                        <mat-menu #projectsMenu="matMenu" [xPosition]="'before'"
                            class="max-h-70 overflow-auto overflow-x-hidden">
                            <ng-container *ngIf="customLists$|async as lists">
                                <button mat-menu-item (click)="getLeads(null, 'All Leads')"> All leads </button>
                                <button *ngFor="let list of lists" (click)="getLeads(list, list.listTitle)"
                                    mat-menu-item>
                                    {{ list.listTitle }}
                                </button>
                                <button mat-menu-item class="text-accent2 border-t-2 font-bold" (click)="addView()">
                                    Create new view
                                </button>
                            </ng-container>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex-auto py-2 bg-default min-h-3/4 pb-10">
                    <div class="flex flex-row justify-end w-full px-10 mb-2 gap-5">
                        <div class="flex flex-row gap-8">
                            <div class="flex gap-1 items-center p-2 rounded"
                                [ngStyle]="{'background-color': filter.leadOwner.length ? '#00bda5':'transparent'}">
                                <span *ngIf="filter.leadOwner.length"
                                    class="text-base  font-bold hover:underline cursor-pointer" #usersPanelOrigin
                                    (click)="openUsersPanel()"
                                    [ngClass]="filter.leadOwner.length ? 'text-white' : 'text-primary'">
                                    {{"("+filter.leadOwner.length+")"}}
                                </span>
                                <span class="text-base  font-bold hover:underline cursor-pointer" #usersPanelOrigin
                                    (click)="openUsersPanel()"
                                    [ngClass]="filter.leadOwner.length ? 'text-white' : 'text-primary'">
                                    Contact owner
                                </span>
                                <ng-template #usersPanel>
                                    <div class="w-60 rounded border shadow-md bg-card">
                                        <div class="flex items-center m-3 mr-2">
                                            <div class="flex items-center">
                                                <mat-icon class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                                <div class="ml-2">
                                                    <input class="w-full min-w-0 py-1 border-0" type="text"
                                                        placeholder="Enter user name" (input)="filterUsers($event)"
                                                        (keypress)="filterUsers($event)" [maxLength]="30" #newTagInput>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
                                            <ng-container *ngFor="let user of filteredUsers; trackBy: trackByFn">
                                                <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover"
                                                    (click)="toggleProductTag(user.id)" matRipple>
                                                    <mat-checkbox
                                                        class="flex items-center h-10 min-h-10 pointer-events-none"
                                                        [checked]="this.filter.leadOwner.includes(user.id)"
                                                        [color]="'primary'" [disableRipple]="true">
                                                    </mat-checkbox>
                                                    <div class="ml-1">{{user.name}}</div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </ng-template>
                                <mat-icon [ngClass]="filter.leadOwner.length ? 'text-white' : 'text-primary'"
                                    svgIcon="heroicons_outline:chevron-down"></mat-icon>
                                <mat-icon *ngIf="filter.leadOwner.length" matTooltip="remove"
                                    class="text-white cursor-pointer" [svgIcon]="'heroicons_outline:x'"
                                    (click)="cancelFilters(1)"></mat-icon>
                            </div>
                            <div class="flex gap-1 items-center p-2 rounded"
                                [ngStyle]="{'background-color': filter.createdDate ? '#00bda5':'transparent'}">
                                
                                <span class="text-base  font-bold hover:underline cursor-pointer" #createdDatePanelOrigin
                                    (click)="openCreatedDatePanel()"
                                    [ngClass]="filter.createdDate ? 'text-white' : 'text-primary'">
                                    Contact owner
                                </span>
                                <ng-template #createdDatePanel>
                                    <div class="w-60 rounded border shadow-md bg-card">
                                        <div class="flex items-center m-3 mr-2">
                                            <div class="flex items-center">
                                                <mat-icon class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                                <div class="ml-2">
                                                    <input class="w-full min-w-0 py-1 border-0" type="text"
                                                        placeholder="Enter user name" (input)="filterCreatedDate($event)"
                                                        (keypress)="filterCreatedDate($event)" [maxLength]="30" #newTagInput>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
                                            <ng-container *ngFor="let user of dateRangesFilter; trackBy: trackByFn">
                                                <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover"
                                                   matRipple (click)="onDateRangeChange(user.value)">
                                                   {{user.label}}
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </ng-template>
                                <mat-icon [ngClass]="filter.createdDate ? 'text-white' : 'text-primary'"
                                    svgIcon="heroicons_outline:chevron-down"></mat-icon>
                                <mat-icon *ngIf="filter.createdDate" matTooltip="remove"
                                    class="text-white cursor-pointer" [svgIcon]="'heroicons_outline:x'"
                                    (click)="cancelFilters(2)"></mat-icon>
                            </div>
                            <!-- <div class="flex gap-1 items-center">
                                <span class="text-base text-primary font-bold hover:underline cursor-pointer"
                                    [matMenuTriggerFor]="actionMenu">
                                    Create date
                                </span>
                                <mat-menu #actionMenu="matMenu">
                                    <button mat-menu-item>Yesterday</button>
                                    <button mat-menu-item>2 days ago</button>
                                    <button mat-menu-item>3 days ago</button>
                                </mat-menu>
                                <mat-icon svgIcon="heroicons_outline:chevron-down"></mat-icon>
                            </div>
                            <div class="flex gap-1 items-center">
                                <span class="text-base text-primary font-bold hover:underline cursor-pointer"
                                    [matMenuTriggerFor]="actionMenu">
                                    Lead status
                                </span>
                                <mat-menu #actionMenu="matMenu">
                                    <button mat-menu-item>Yesterday</button>
                                    <button mat-menu-item>2 days ago</button>
                                    <button mat-menu-item>3 days ago</button>
                                </mat-menu>
                                <mat-icon svgIcon="heroicons_outline:chevron-down"></mat-icon>
                            </div>
                            <div class="flex gap-1 items-center">
                                <span class="text-base text-primary font-bold hover:underline cursor-pointer"
                                    [matMenuTriggerFor]="matsssMenu">
                                    Last modified date
                                </span>
                                <mat-menu #matsssMenu>
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                        <div class="ml-2">
                                            <input class="w-full min-w-0 py-1 border-0" type="text"
                                                placeholder="Enter tag name" [maxLength]="30" #newTagInput>
                                        </div>
                                    </div>
                                    <button mat-menu-item>Yesterday</button>
                                    <button mat-menu-item>2 days ago</button>
                                    <button mat-menu-item>3 days ago</button>
                                </mat-menu>
                                <mat-icon svgIcon="heroicons_outline:chevron-down"></mat-icon>
                            </div> -->
                        </div>
                        <div class="flex flex-row gap-2 align items-center">
                            <ng-container *ngIf="customList$|async as customList">
                                <button mat-stroked-button class="w-5 min-w-5 max-w-5 h-8"
                                    [disabled]="customList.listId == -1"
                                    [matTooltip]="'save filter'"><mat-icon>save</mat-icon></button>
                                <button mat-stroked-button class="w-5! min-w-5 max-w-5 h-8"
                                    [disabled]="customList.listId == -1" [matTooltip]="'edit view'"
                                    (click)="updateView(customList)"><mat-icon>edit</mat-icon></button> </ng-container>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto bg-card shadow rounded-2xl mx-6 overflow-hidden">
                        <ng-container *ngIf="leads$ | async as leads">
                            <ng-container *ngIf="leads.length; else noLead">
                                <div class="flex-auto  py-1 bg-card overflow-x-auto">
                                    <table mat-table [dataSource]="dataSource" matSort>
                                        <!-- Select -->
                                        <ng-container matColumnDef="select">
                                            <th mat-header-cell *matHeaderCellDef class="w-5 border-r-0">
                                                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                                    [checked]="selection.hasValue() && isAllSelected()" color="accent"
                                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                    [aria-label]="checkboxLabel()">
                                                </mat-checkbox>
                                            </th>
                                            <td mat-cell *matCellDef="let row" class="w-5 border-r-0">
                                                <mat-checkbox (click)="$event.stopPropagation()"
                                                    (change)="$event ? selection.toggle(row) : null" color="accent"
                                                    [checked]="selection.isSelected(row)"
                                                    [aria-label]="checkboxLabel(row)">
                                                </mat-checkbox>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15rem;">
                                                Name </th>
                                            <td mat-cell *matCellDef="let row" [style.cursor]="'pointer'"
                                                class="group relative overflow-hidden" (mouseenter)="onMouseEnter(row)"
                                                (mouseleave)="onMouseLeave(row)" style="width: 15rem;">
                                                <div class="flex items-center justify-between">
                                                    <span (click)="previewLead(row)"
                                                        class="hover:text-clip truncate"><u>{{row.firstName + " " +
                                                            row.lastName | tblimit: row.isHovered}}</u></span>
                                                    <span *ngIf="row.isHovered" class="relative right-0">
                                                        <button mat-stroked-button (click)="updateLead(row)"
                                                            class="h-8">
                                                            <span class="text-xs">Preview</span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="createdDate">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                                            <td mat-cell *matCellDef="let row"> {{row.createdDate | date}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="phone">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
                                            <td mat-cell *matCellDef="let row"> {{row.mobile}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="email">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="leadStatus">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                            <td mat-cell *matCellDef="let row"> {{row.statusTitle}} </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        <!-- Row shown when there is no matching data. -->
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No data matching the filter</td>
                                        </tr>
                                    </table>
                                    <mat-paginator [pageSizeOptions]="[10, 25, 100]"
                                        aria-label="Select page of users"></mat-paginator>
                                </div>
                            </ng-container>
                        </ng-container>
                        <!-- No contacts -->
                        <ng-template #noLead>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There
                                are no
                                Leads!</div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>