<div class="inset-0 flex flex-col overflow-hidden">
    <!-- Main -->
    <div class="flex-auto px-3 sm:px-4  max-w-screen min-w-screen w-screen overflow-y-auto" cdkScrollable>

        <!-- Lists -->
        <div class="flex" cdkDropList [cdkDropListData]="statusWiseLeads" [cdkDropListOrientation]="'horizontal'">

            <!-- Group all cdkDropList's after this point together so that the cards can be transferred between lists -->
            <div class="flex items-start" cdkDropListGroup>

                <!-- List -->
                <ng-container *ngIf="statusWiseLeads?.length>0">
                    <ng-container *ngFor="let status of statusWiseLeads; trackBy: trackByFn">
                        <div class="flex-0 w-90 p-2 rounded-2xl bg-default" cdkDrag [cdkDragLockAxis]="'x'">

                            <div class="flex items-center justify-start gap-1" cdkDragHandle>
                                <div class="flex font-semibold items-center py-2 pl-3 rounded-md">
                                    {{status.statusTitle}}
                                </div>
                                <div
                                    class="flex items-center justify-center min-w-6 text-sm font-semibold leading-6 rounded-full bg-gray-300 text-secondary dark:bg-gray-700">
                                    {{status.leads.length}}
                                </div>
                            </div>

                            <!-- Cards -->
                            <div
                                class="mt-2 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border max-h-60 h-60 min-h-60 md:max-h-80 md:min-h-80 md:h-80 lg:max-h-120 lg:h-120 lg:min-h-120  overflow-hidden" fuseScrollbar>
                                <!-- max-h-36 h-36 min-h-36 md:max-h-80 md:min-h-80 md:h-80 lg:max-h-20 lg:h-120 lg:min-h-120  overflow-auto -->
                                <div [id]="status.statusId" class="p-3 pb-0" cdkDropList
                                    [cdkDropListData]="status.leads" (cdkDropListDropped)="leadDropped($event, status.statusTitle)">

                                    <!-- Card -->
                                    <ng-container *ngFor="let lead of status.leads; trackBy: trackByFn">
                                        <a class="flex flex-col items-start mb-3 p-2 space-y-3 shadow rounded-lg overflow-hidden bg-card" cdkDrag>
                                            <div class="flex w-full gap-1 content-center">
                                                <!-- Image -->
                                                <!-- <ng-container *ngIf="lead.avatar">
                                                    <img class="object-cover w-6 min-h-6" [src]="lead.avatar" alt="Contact avatar" />
                                                </ng-container>
                                                <ng-container *ngIf="!lead.avatar">
                                                    <div
                                                        class="flex items-center justify-center w-6 h-6 rounded-full uppercase font-semibold bg-gray-200 text-gray-600">
                                                        {{lead.firstName.charAt(0)}}
                                                    </div>
                                                </ng-container> -->
                                                <!-- Title -->
                                                <div class="text-base font-medium leading-5 self-center hover:underline hover:pointer" (click)="previewLead(lead.leadId)">{{lead.firstName + " " +
                                                    lead.lastName}}</div>
                                            </div>
                                            <div class="text-xs"><span class="font-medium">Score</span><span class="fornt-green ml-1">90</span></div>
                                            <div class="flex flex-row justify-start w-full  border-t ">
                                                <div class="flex flex-col justify-center">
                                                    <button mat-icon-button class="h-5 w-5" (click)="addAction(lead.leadId, 'Note')">
                                                        <mat-icon class="icon-size-3.5">edit_note</mat-icon>
                                                    </button>
                                                </div>
                                                <div class="flex flex-col justify-center" >
                                                    <button mat-icon-button class="h-5 w-5" (click)="addAction(lead.leadId, 'Task')">
                                                        <mat-icon class="icon-size-3.5 ">add_task</mat-icon>
                                                    </button>
                                                </div>
                                                <div class="flex flex-col justify-center">
                                                    <button mat-icon-button class="h-6 w-6" (click)="addAction(lead.leadId, 'Email')">
                                                        <mat-icon class="icon-size-3.5">email</mat-icon>
                                                    </button>
                                                </div>
                                                <div class="flex flex-col justify-center" >
                                                    <button mat-icon-button class="h-6 w-6" (click)="addAction(lead.leadId, 'Call')">
                                                        <mat-icon class="icon-size-3.5">call</mat-icon>
                                                    </button>
                                                </div>
                                                <div class="flex flex-col justify-center">
                                                    <button mat-icon-button class="h-6 w-6" (click)="addAction(lead.leadId, 'Meeting')">
                                                        <mat-icon class="icon-size-3.5">person</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </a>
                                    </ng-container>
                                </div>


                            </div>
                        </div>
                    </ng-container>
                </ng-container>

            </div>

        </div>

    </div>

</div>