<div class="flex flex-col h-full bg-card dark:bg-default">

    <!-- Header -->
    <div class="flex flex-0 items-center h-18 px-4 border-b bg-gray-50 dark:bg-transparent">
        <button mat-icon-button (click)="drawer.close()">
            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
        <div class="ml-2 text-lg font-medium">Ticket info</div>
    </div>

    <div class="overflow-y-auto flex flex-col flex-grow px-4 ">
        <!-- Contact avatar & info -->
        <div class="flex flex-col my-5">
            <div class="flex items-center mb-5">
                <div class="relative flex flex-0 items-center justify-center w-8 h-8 bg-gray-200 rounded-full">
                        <mat-icon svgIcon="heroicons_outline:user-circle" class="icon-size-5"></mat-icon>
                </div>
                <div class="ml-2 text-lg font-medium leading-5 truncate">Client#{{ticket.customerId}}</div>
            </div>
            <div class="flex flex-col gap-3">
                <div class="flex text-base gap-2 w-full">
                    <span class="font-medium text-gray-600 w-20">Platform:</span>
                    <span>{{ticket.socialMediaPlatform}}</span>
                </div>
                <div class="flex text-base gap-2 w-full">
                    <span class="font-medium text-gray-600 w-20">Local time:</span>
                    <span>{{ticket.timestamp|date}}</span>
                </div>
                <div class="flex text-base gap-2 w-full">
                    <span class="font-medium text-gray-600 w-20">Language:</span>
                    <span>English (United States)</span>
                </div>
            </div>
        </div>
        <div class="py-5 border-t">
            <form class="flex flex-col" #FormName = "ngForm">
                <mat-form-field
                class="fuse-mat-dense">
                <mat-label>Assignee</mat-label>
                <mat-select [ngModel]="ticket.assigneeId" name="assignee">
                    <mat-option [value]="-1">-</mat-option>
                    <mat-option *ngFor="let user of users$|async" [value]="user.id">{{user.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field
            class="fuse-mat-dense">
            <mat-label>Type</mat-label>
            <mat-select [ngModel]="ticket.type" name="type">
                <mat-option [value]=-1>-</mat-option>
                <mat-option *ngFor="let type of types$|async" [value]="type.ticketTypeId">{{type.typeName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field
        class="fuse-mat-dense">
        <mat-label>Priority</mat-label>
        <mat-select [ngModel]="ticket.priority" name="priority">
            <mat-option [value]=-1>-</mat-option>
            <mat-option *ngFor="let priority of priorities$|async" [value]="priority.ticketPriorityId">{{priority.priorityName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field
    class="fuse-mat-dense">
    <mat-label>Notes</mat-label>
    <textarea
    name="notes"
    #notes
    [ngModel]="ticket.notes"
    matInput
    [rows]="3"
    matTextareaAutosize></textarea>
</mat-form-field>
            </form>
        </div>
    </div>
    <!-- Footer -->
    <div
        class="sticky bottom-0 flex flex-0 items-center h-18 px-4 border-t justify-end  bg-gray-50 dark:bg-transparent">
        <div class="flex gap-1 ">
            <button class="ml-4 h-10 border-r-0  rounded-r-none" mat-flat-button [color]="'primary'">
                <span class="ml-2 mr-1 text-sm" (click)="submit(1)">Submit as Open</span>
            </button>
            <button class="h-10 min-w-4 w-4 rounded-l-none p-0 m-0 px-4" mat-flat-button [color]="'primary'" matRipple
                [matMenuTriggerFor]="dropdownMenu">
                <mat-icon class="icon-size-3" [svgIcon]="'heroicons_outline:chevron-down'"></mat-icon>
                <mat-menu #dropdownMenu="matMenu">
                    <button mat-menu-item *ngFor="let status of statuses$|async" (click)="submit(status.ticketStatusId)">
                        <span [ngClass]="status.class"></span><span>{{status.statusName}}</span> 
                    </button>
                </mat-menu>
            </button>
        </div>
    </div>
</div> 