<div class="flex flex-col w-full overflow-hidden" fuseScrollbar >
    <!-- Header -->
    <div class=" flex  sticky top-0  h-18 sm:h-18 px-6 sm:px-6 bg-accent-100" style="background-color: #00bda5!important;">
        <div class="flex justify-start items-center w-full">
            <ng-container *ngIf="lead$|async as lead">
                <a class="text-2xl text-white font-bold truncate">{{lead.leadId == -1?"Create Lead":lead.firstName + " " + lead.lastName}}</a>
            </ng-container>
        </div>
        <div class="flex items-center justify-end">
            <a mat-icon-button [matTooltip]="'Close'" [routerLink]="['../']" (click)="closeDrawer()">
                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </a>
        </div>
    </div>
    <!-- Contact form -->
    <ng-container>
        <div class="flex  items-center px-8 sm:px-8 pt-6"  >
            <div class="w-full max-w-3xl">
                <form [formGroup]="leadForm">
                    <div class="flex flex-row justify-between w-full gap-5">
                        <div class="w-1/2">
                            <mat-form-field class="fuse-mat-dense w-full">
                                <mat-label class="text-md font-medium" i18n>First Name</mat-label>
                                <input matInput [formControlName]="'firstName'" [spellcheck]="false" class="h-2!" #firstName>
                                <mat-error *ngIf="leadForm.get('firstName').hasError('required')" i18n>
                                    First Name is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="w-1/2"> 
                            <mat-form-field class="fuse-mat-dense w-full">
                                <mat-label class="text-md font-medium" i18n>Last Name</mat-label>
                                <input matInput [formControlName]="'lastName'" [spellcheck]="false" #lastName>
                                <mat-error *ngIf="leadForm.get('lastName').hasError('required')" i18n>
                                    Last Name is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-row justify-between w-full gap-5">
                        <div class="w-1/2">
                        <mat-form-field class="fuse-mat-dense  w-full">
                            <mat-label class="text-md font-medium" i18n>Email</mat-label>
                            <input matInput [formControlName]="'email'" [spellcheck]="false" #email>
                        </mat-form-field>
                        </div>
                        <div class="w-1/2">
                            <mat-form-field class="fuse-mat-dense  w-full">
                                <mat-label class="text-md font-medium" i18n>Phone</mat-label>
                                <input matInput [formControlName]="'mobile'" [spellcheck]="false" #mobile>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-row justify-between w-full gap-5">
                        <div class="w-1/2">
                            <mat-form-field class="fuse-mat-dense  flex-auto w-full">
                                <mat-label class="text-md font-medium" i18n>Product</mat-label>
                                <mat-select [formControlName]="'productId'" [spellcheck]="false" #product>
                                    <mat-option class="text-md font-medium" [value]=-1 i18n>--Select Product--</mat-option>
                                    <ng-container *ngIf="products$|async as products">
                                        <mat-option class="text-md font-medium" *ngFor="let product of products"
                                            [value]="product.productId">{{product.productName}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-1/2">
                            <mat-form-field class="fuse-mat-dense flex-auto w-full">
                                <mat-label class="text-md font-medium" i18n>Lead Owner</mat-label>
                                <mat-select [formControlName]="'leadOwner'" [spellcheck]="false" #leadOwner>
                                    <mat-option class="text-md font-medium" [value]="-1" i18n>--Select Lead  Owner--</mat-option>
                                    <ng-container *ngIf="users$|async as users">
                                        <mat-option  class="text-md font-medium" *ngFor="let user of users" [value]="user.id">{{user.name}}</mat-option>
                                    </ng-container>
                                </mat-select>
                                <mat-error *ngIf="leadForm.get('leadOwner').hasError('required')" i18n>
                                    Lead Owner is required
                                </mat-error>
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="flex flex-row justify-between w-full gap-5">
                        <div class="w-1/2">
                            <mat-form-field class="fuse-mat-dense  flex-auto w-full">
                                <mat-label class="text-md font-medium">Status</mat-label>
                                <mat-select [formControlName]="'status'" [spellcheck]="false" #leadStatus>
                                    <mat-option class="text-md font-medium" [value]="-1">--Select  Status--</mat-option>
                                    <ng-container *ngIf="leadStatus$|async as status">
                                        <mat-option class="text-md font-medium" *ngFor="let s of status"
                                            [value]="s.statusId">{{s.statusTitle}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="w-1/2">
                            <mat-form-field class="fuse-mat-dense  flex-auto w-full">
                                <mat-label class="text-md font-medium">Source</mat-label>
                                <mat-select class="text-md font-medium" [formControlName]="'sourceId'" [spellcheck]="false" #leadsource>
                                    <mat-option [value]=-1>--Select  Source--</mat-option>
                                    <ng-container   *ngIf="leadSource$|async as source">
                                        <mat-option *ngFor="let s of source"
                                            [value]="s.sourceId">{{s.sourceTitle}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="flex flex-row justify-between w-full gap-5">
                        <div class="w-1/2">
                            <mat-form-field class="fuse-mat-dense  flex-auto w-full">
                                <mat-label class="text-md font-medium" i18n>Industry</mat-label>
                                <mat-select [formControlName]="'industryId'" [spellcheck]="false" #leadIndustryId>
                                    <mat-option class="text-md font-medium" [value]="-1" i18n>--Select industry--</mat-option>
                                    <ng-container *ngIf="industries$|async as industries">
                                        <mat-option class="text-md font-medium" *ngFor="let industry of industries"
                                            [value]="industry.industryId">{{industry.industryTitle}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                        </div>
                        <div class="w-1/2">
                            <mat-form-field class="fuse-mat-dense flex-auto w-full">
                                <mat-label class="text-md font-medium" i18n>Campaign</mat-label>
                                <mat-select [formControlName]="'campaignId'" [spellcheck]="false" #campaign>
                                    <mat-option class="text-md font-medium" value="-1" i18n>--Select Campaign--</mat-option>
                                    <ng-container *ngIf="campaigns$|async as campaigns">
                                        <mat-option class="text-md font-medium" *ngFor="let campaign of campaigns" [value]="campaign.campaignId">{{campaign.title}}</mat-option>
                                    </ng-container>
                                </mat-select>
                                <mat-error *ngIf="leadForm.get('campaignId').hasError('required')" i18n>
                                    Campaign is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-row justify-between w-full gap-5">
                        <div class="w-1/2">
                            <mat-form-field class="fuse-mat-dense w-full">
                                <mat-label class="text-md font-medium" i18n>Work Number</mat-label>
                                <input matInput [formControlName]="'work'" [spellcheck]="false" #work>
                            </mat-form-field>
                        </div>
                        <div class="w-1/2">
                            <mat-form-field class="fuse-mat-dense  w-full">
                                <mat-label class="text-md font-medium" i18n>Address</mat-label>
                                <input matInput [formControlName]="'address'" [spellcheck]="false" #billingCity>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-row justify-between w-full gap-5">
                        <div class="w-1/2">
                            <mat-form-field class="fuse-mat-dense  w-full">
                                <mat-label class="text-md font-medium" i18n>City</mat-label>
                                <input matInput [formControlName]="'city'" [spellcheck]="false" #billingCity>
                            </mat-form-field>
                        </div>
                        <div class="w-1/2">
                            <mat-form-field class="fuse-mat-dense  w-full">
                                <mat-label i18n>State</mat-label>
                                <input matInput [formControlName]="'state'" [spellcheck]="false" #billingState>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-row justify-between w-full gap-5">
                        <div class="w-1/2">
                            <mat-form-field class="fuse-mat-dense  w-full">
                                <mat-label class="text-md font-medium" i18n>ZIP</mat-label>
                                <input matInput [formControlName]="'zip'" [spellcheck]="false" #billingZIP>
                            </mat-form-field>
                        </div>
                        <div class="w-1/2">
                            <mat-form-field class="fuse-mat-dense  w-full">
                                <mat-label class="text-md font-medium" i18n>Country</mat-label>
                                <input matInput [formControlName]="'country'" [spellcheck]="false" #billingCountry>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-row justify-between w-full gap-5">
                     <div class="w-full mb-2">
                    <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                        <mat-label i18n>Remarks</mat-label>
                        <textarea matInput [formControlName]="'remarks'" [rows]="1" cdkTextareaAutosize [cdkAutosizeMinRows]="1"
                            class="resize-none h-16">
                        </textarea>
                    </mat-form-field> 
                </div>     
                </div>
                    <div class="flex sticky bottom-0 items-center  -mx-8 sm:-mx-8 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <ng-container *ngIf="selectedlead.leadId !== -1">
                            <button mat-stroked-button class="h-8" [color]="'warn'" [matTooltip]="'Delete'" (click)="delete()">
                                <mat-icon [svgIcon]="'heroicons_outline:trash'" class="icon-size-5"></mat-icon>
                                <span class="ml-2 text-xs" i18n>Delete</span>
                            </button>
                        </ng-container>
                        <button class="ml-auto h-8" mat-stroked-button [matTooltip]="'Cancel'" (click)="closeDrawer()"
                            [routerLink]="['../']">
                            <mat-icon [svgIcon]="'heroicons_outline:x-circle'" class="icon-size-5"></mat-icon>
                            <span class="ml-2 text-xs" i18n>Cancel</span>
                        </button>
                        <button class="ml-2 primary-2 h-8" mat-flat-button [disabled]="leadForm.invalid"
                            [matTooltip]="'Click to Save Lead'" (click)="save()">
                            <mat-icon [svgIcon]="'heroicons_outline:check-circle'" class="icon-size-5"></mat-icon>
                            <span class="ml-2 text-xs" i18n>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>