<div class="flex flex-col flex-auto max-w-240 md:min-w-160 max-h-120 min-h-120 pb-2 -m-6 bg-d">
  <div
    class="flex flex-0 items-center justify-between h-16 pr-5 md:pr-3 pl-8 md:pl-6 bg-primary text-on-primary w-full">
    <div>
     
      <span class="text-lg ">  Lead Qualification Questions For </span>
      <span class="flex flex-row text-md mt-1"> {{ selecteddata.productName }}</span>
    </div>
    
    <button mat-icon-button (click)="close()" [tabIndex]="-1">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>

  <div class="flex justify-between px-6 py-2 shadow mb-2">
    <div class="self-center text-lg font-medium">Question List</div>
    <div class="flex self-center">
      <button class="h-8 mr-2" [matTooltip]="'Click to Copy Qualification Question from other Products'" mat-stroked-button
        *ngIf="questions" (click)="openConnectorDialog()">
        <mat-icon class="icon-size-5">autorenew</mat-icon>
        <span class="ml-1 mr-1 text-xs" i18n>Import</span>
      </button>
      <button class=" primary-2 h-8" [matTooltip]="'Click to Add New Qualification'" mat-stroked-button
        *ngIf="questions" (click)="addQuestion()">
        <mat-icon class="icon-size-5 text-white">add</mat-icon>
        <span class="ml-1 mr-1 text-xs" i18n>Add</span>
      </button>
    </div>
  </div>

  <div fuseScrollbar class="flex-1 min-h-80">
    <ng-container *ngIf="questions && questions.length > 0; else noQuestions">
      <div class="flex flex-col w-full px-5" *ngFor="let question of questions; let i = index" >
        <div class="flex gap-2 w-full">
          <div class="flex min-w-1/8 items-center">
            <span class="p-2 m-2">{{i+1}}</span>
          </div>
          <div
            class="flex w-full items-center py-2 px-3 rounded-md cursor-text border border-transparent focus-within:bg-white focus-within:shadow-sm focus-within:border-primary dark:focus-within:bg-gray-900">
            <input 
            class="w-full font-medium leading-5 bg-transparent" 
            [spellcheck]="'false'" 
            [(ngModel)]="question.title" 
            (blur)="saveQuestion(question)"
            #title>
          </div>
          <div
            class="flex w-1/6 items-center justify-end py-2 px-3 rounded-md cursor-pointer border border-transparent focus-within:bg-white focus-within:shadow-sm focus-within:border-primary dark:focus-within:bg-gray-900"
            [matTooltip]="'Question weightage'"
            >
            <select 
            class="w-full font-medium leading-5 bg-transparent h-full"
            [(ngModel)]="question.weightage" 
            (blur)="saveQuestion(question)"
            #weightage>
                <option *ngFor="let weight of weightageList"  [value]="weight.weightage">{{weight.title}}</option>
            </select>
          </div>
          <div class="flex w-1/6 items-center justify-end">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon class="icon-size-5 text-primary">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="delete(question)">
                <mat-icon class="icon-size-5 text-primary">delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>
        </div>
    
      </div>
    </ng-container>
    <ng-template #noQuestions>
      <div class="flex flex-auto flex-col items-center justify-center " style="margin-top: 10%;">
          <mat-icon
          class="icon-size-24 mr-2"
          [svgIcon]="'heroicons_outline:question-mark-circle'"></mat-icon>
          <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">No Questions found.</div>
          <span class="underline cursor-pointer" (click)="addQuestion()">Click to add</span>
      </div>
    </ng-template>
  </div>  
  
   

</div>