<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
  <div
    class="flex flex-0 items-center justify-between h-16 pr-5 md:pr-3 pl-8 md:pl-6 bg-primary text-on-primary w-full">
    <div class="text-lg font-medium">Lead Qualification Assessment</div>
    <button mat-icon-button (click)="discard()" [tabIndex]="-1">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>
  <div class="flex justify-between px-6 py-2">
    <div class="text-lg font-medium">Question List</div>
    <div class="flex self-center">
      <button class="ml-2 primary-2 h-8" [matTooltip]="'Click to Save Lead Qualification'" mat-stroked-button
        *ngIf="questions" (click)="addLead()">
        <!-- <mat-icon class="icon-size-5 mr-2 text-white" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon> -->
        <span class="ml-1 mr-1 text-xs" i18n>Add Question</span>
      </button>
    </div>
  </div>
  <div class="flex flx-col w-full py-6" *ngFor="let question of questions">
    <div class="flex gap-5 w-full">
      <div
        class="flex w-5/6 items-center py-2 px-3 rounded-md cursor-text border border-transparent focus-within:bg-white focus-within:shadow-sm focus-within:border-primary dark:focus-within:bg-gray-900">
        <input class="w-full font-medium leading-5 bg-transparent" [spellcheck]="'false'" [(ngModel)]="question.title"
          #name>
      </div>
      
        <div
        class="flex items-center w-full py-2 px-3 rounded-md cursor-pointer border border-transparent focus-within:bg-white focus-within:shadow-sm focus-within:border-primary dark:focus-within:bg-gray-900">
        <select class="w-3 font-medium leading-5 bg-transparent h-full"
        [formControlName]="'leadOwner'" #leadOwner>
            <option *ngFor="let weight of weightageList"  [value]="weight.weightage">{{weight.title}}</option>
        </select>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>