<div class="absolute flex flex-row flex-auto min-w-0 h-full w-full overflow-hidden">

  <div class="flex flex-col p-6 sm:p-6">

  <button
                    class="ml-4 h-9 primary-2"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="addEvent()"
                    [matTooltip]="'Add New Event'">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1 text-xs">Add Event</span>
                </button>
  <div class="flex flex-col">
    <div class="my-4">
      <span class="text-primary text-lg font-semibold" i18n>My Calendar</span>
    </div>
    <ng-container *ngIf="eventTypes$|async as types">
      <ng-container *ngFor="let type of types">
        <div class="flex flex-col ">
          <div class="flex items-center gap-2 ">
      
            <span>
              <mat-checkbox [checked]="this.selectedTypes.includes(type.typeId)" class="my-1"
                (change)="toggleType(type, $event)">{{type.typeTitle}}</mat-checkbox>
            </span>
            <span class="w-2 h-2 rounded-full" [ngClass]="{
                'bg-red-800': type.typeId === 1,
                'bg-green-500': type.typeId === 2,
                'bg-red-500': type.typeId === 3,
                'bg-amber-400': type.typeId === 4,
                'bg-purple-500': type.typeId === 5,
                'bg-blue-500': type.typeId === 6}"></span>
          </div>
      
        </div>
      </ng-container>
    </ng-container>
  </div>
  </div>

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-6" fuseScrollbar>
    <full-calendar *ngIf="calendarVisible" [options]="calendarOptions">
      <ng-template #eventContent let-arg>
        <b>{{ arg.event.start | date: 'h:mm a' }}</b>
        <span class="time-title-separator">&nbsp;</span>
        <i>{{ arg.event.title }}</i>
        <span class="name-separator" *ngIf="arg.event.extendedProps.firstName || arg.event.extendedProps.lastName">&nbsp;</span>
        <span *ngIf="arg.event.extendedProps.firstName || arg.event.extendedProps.lastName">
          ({{ arg.event.extendedProps.firstName }} {{ arg.event.extendedProps.lastName }})
        </span>
      </ng-template>
    </full-calendar>
  </div>
  

</div>



