<div class="flex flex-row flex-auto min-w-0">

    <div class="flex flex-col p-6 sm:p-10">
      <button class="h-9" mat-flat-button [color]="'primary'" (click)="addEvent()">
        <span class="ml-1 mr-1">Add Event</span>
    </button>
    <div class="flex flex-col">
      <div class="my-4">
        <span class="text-primary text-lg font-semibold">My Calendar</span>
      </div>
      <ng-container *ngIf="eventTypes$|async as types">
        <ng-container *ngFor="let type of types">
          <mat-checkbox [checked]="this.selectedTypes.includes(type.typeId)" class="my-1" (change)="toggleType(type, $event)">{{type.typeTitle}}</mat-checkbox>
        </ng-container>
      </ng-container>
    </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
            <ng-template #eventContent let-arg >
              <b>{{ arg.timeText }}</b>
              <i>{{ arg.event.title }}</i>
            </ng-template>
          </full-calendar>
    </div>

</div>