<ng-container>
    <div class="flex flex-col flex-auto md:w-160 md:min-w-160 max-h-140 -m-6 overflow-y-auto">
        <!-- Header -->
        <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
            <div class="text-lg font-medium" i18n>Connect</div>
            <button mat-icon-button (click)="closeDialog()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>

        
        <form [formGroup]="viewForm" class="flex flex-col  w-full p-6 sm:p-8 overflow-y-auto">
          
  <div class="flex flex-row">
    <div class="relative flex flex-row w-full">
      <input
        #copyInput
        type="text"
        class="border border-gray-300 p-2 rounded-l-md focus:outline-none w-full"
        readonly
        formControlName="Link"
      />
      <button class="absolute right-0 top-0 h-full rounded-r-md bg-gray-100" mat-stroked-button [matTooltip]="'Click to Copy To Clipboard'" (click)="copyToClipboard(copyInput.value)">
        <ng-container *ngIf="!isCopied; else copied">
          <mat-icon class="icon-size-5">content_copy</mat-icon>
          <span class="ml-2 text-xs" i18n>Copy</span>
        </ng-container>
        <ng-template #copied>
          <mat-icon class="icon-size-5">done</mat-icon>
          <span class="ml-2 text-xs primary" i18n>Copied!</span>
        </ng-template>
      </button>
    </div>
  </div>
  
        </form>
       
        <div
            class="flex sticky bottom-0 items-center py-4  pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
           
            <!-- Cancel -->
            <button class="ml-auto h-8" mat-stroked-button [matTooltip]="'Close'" (click)="closeDialog()">
                <mat-icon [svgIcon]="'heroicons_outline:x-circle'" class="icon-size-5"></mat-icon>
                <span class="ml-2 text-xs" i18n>Close</span> 
            </button>
          
        </div>
    </div>
</ng-container>
