<div class="absolute flex flex-col flex-auto  h-full">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-4 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div>
                <h2 class="text-3xl md:text-3xl font-bold tracking-tight leading-7 sm:leading-10 truncate" i18n>
                    Ads
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-grow p-6 sm:p-10">
        <div class="flex gap-14 flex-grow self-center justify-center px-50">
            <div class="flex flex-col justify-center flex-1">
                <h3 class="font-semibold text-3xl" i18n>
                    See which ads are turning visitors into customers
                </h3>
                <p class="mt-2" i18n>
                    Your all-in-one place to manage all your Facebook, Instagram, LinkedIn, and Google ad campaigns.
                </p>
                <div class="felx flex-col gap-4 my-8">
                    <p i18n>
                        - Tie ad spend directly to company revenue.
                    </p>
                    <p i18n>
                        - See who is interacting with each ad.
                    </p>
                    <p i18n>
                        - Re-engage with existing contacts.
                    </p>
                    <p i18n>
                        - Align advertising with the rest of your marketing.
                    </p>
                </div>
                <p i18n>
                    Once you connect an account, you may be eligible for $500 USD in ad credits. Learn more about the
                    LinkedIn Offer and Google Offer
                </p>
                <div class="flex gap-5 my-4 justify-start">
                    <button class="h-9" mat-flat-button [color]="'primary'" (click)="openConnectorDialog()">
                        <span class="ml-2 mr-1" i18n>Connect accounts</span>
                    </button>
                    <button class=" h-9" mat-stroked-button>
                        <span class="ml-2 mr-1" i18n>See a quick demo</span>
                    </button>
                </div>
                <p class=" text-lg font-bold text-accent2 hover:underline cursor-pointer" (click)="openCreatorDialog()" i18n>Create ad account</p>
            </div>
            <div class="flex justify-center flex-2">
                <img class="h-100" src="/assets/images/logo/add-on-ads.svg" alt="add-on-ads">
            </div>
        </div>
    </div>
</div>