<div class="flex flex-auto w-full h-full overflow-hidden">
    <div class="flex flex-col w-1/4 max-w-1/4 h-full bg-default">
        <div class="flex flex-col gap-2 sm:flex-col items-start p-6 sm:py-4 md:px-8 border-b">
            <div class="flex gap-1 items-center" (click)="closeDialog()">
                <mat-icon class="icon-size-4" matPrefix svgIcon="feather:arrow-left-circle"></mat-icon>
                <div class="text-md font-normal tracking-tight leading-none hover:underline hover:cursor-pointer">Create
                    Checklist</div>
            </div>
            <div>
                <div class="text-lg font-semibold tracking-tight leading-none">Checklist Manager</div>
            </div>
        </div>
        <div class="flex flex-col flex-auto gap-2 sm:flex-col items-start p-6 sm:py-4 md:px-8">
            <ol>
                <li class="relative flex" *ngFor="let view of views">
                    <div class="absolute top-6 left-2.5 w-0.5 h-full -ml-px"
                        [ngClass]=" {'bg-gray-400': !view.completed , 'bg-green-700': view.completed,'bg-blue-500': view.viewId==activeView}"
                        *ngIf="view.viewId == 1"></div>
                    <div class="relative flex flex-auto" *ngIf="view.viewId == 1">
                        <div class="flex shrink-0 items-center justify-center w-5 h-5 mr-4 rounded-full"
                            [ngClass]=" {'bg-gray-400': !view.completed , 'bg-green-700': view.completed,'bg-blue-500': view.viewId==activeView}">
                            <div *ngIf="!view.completed" class="text-white">
                                {{view.viewId}}
                            </div>
                            <div *ngIf="view.completed" class="text-white">
                                <mat-icon class="icon-size-3 text-white" [svgIcon]="view.icon">
                                </mat-icon>

                            </div>

                        </div>
                        <div class="flex text-md font-semibold flex-col justify-center items-center">
                            {{view.viewName}}
                        </div>
                        <div *ngIf="view.completed" class="text-white">
                            {{view.viewId}}
                        </div>
                    </div>

                    <div class="absolute top-6 left-2.5 w-0.5 h-full -ml-px"
                        [ngClass]=" {'bg-gray-400': !view.completed , 'bg-green-700': view.completed,'bg-blue-500': view.viewId==activeView}"
                        *ngIf="view.viewId == 2"></div>

                    <div class="relative flex flex-auto mt-7" *ngIf="view.viewId == 2">
                        <div class="flex shrink-0 items-center justify-center w-5 h-5 mr-4 rounded-full "
                            [ngClass]=" {'bg-gray-400': !view.completed , 'bg-green-700': view.completed,'bg-blue-500': view.viewId==activeView}">
                            <div *ngIf="!view.completed" class="text-white">
                                {{view.viewId}}
                            </div>
                            <div *ngIf="view.completed" class="text-white">
                                <mat-icon class="icon-size-3 text-white" [svgIcon]="view.icon">
                                </mat-icon>

                            </div>
                        </div>
                        <div class="flex text-md font-semibold flex-col justify-center items-center">
                            {{view.viewName}}
                        </div>
                    </div>

                    <div class="relative flex flex-auto mt-7" *ngIf="view.viewId == 3">
                        <div class="flex shrink-0 items-center justify-center w-5 h-5 mr-4 rounded-full "
                            [ngClass]=" {'bg-gray-400': !view.completed , 'bg-green-700': view.completed,'bg-blue-500': view.viewId==activeView}">
                            <div *ngIf="!view.completed" class="text-white">
                                {{view.viewId}}
                            </div>
                            <div *ngIf="view.completed" class="text-white">
                                <mat-icon class="icon-size-3 text-white" [svgIcon]="view.icon">
                                </mat-icon>

                            </div>
                        </div>
                        <div class="flex text-md font-semibold flex-col justify-center items-center">
                            {{view.viewName}}
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div class="flex flex-col flex-auto bg-card">
        <div class="flex flex-col flex-auto px-12 pt-8" *ngIf="activeView ==1">
            <div class="flex text-xl font-semibold flex-col justify-start">
                Checklist Information
            </div>
            <form #checkListForm="ngForm" class="flex flex-col flex-0 items-start w-full mt-10">
                <!-- Title -->
                <mat-form-field class="fuse-mat-dense w-full md:w-1/3">
                  <mat-label>Title</mat-label>
                  <input matInput id="title" name="title" [(ngModel)]="checklist.title" required>
                </mat-form-field>
              
                <!-- Description -->
                <mat-form-field class="fuse-mat-dense w-full md:w-1/3">
                  <mat-label class="font-semibold">Description</mat-label>
                  <textarea matInput id="description" name="description" [(ngModel)]="checklist.description"></textarea>
                </mat-form-field>
              </form>
              
        </div>
        <div class="flex flex-col flex-auto px-12 pt-8" *ngIf="activeView ==2">
            <div class="flex text-xl font-semibold flex-col justify-start">
                Checklist Template
            </div>
            <div class="flex gap-5 mt-10">
                <div class="w-1/3 flex-auto bg-card shadow rounded-xl overflow-hidden border hover:border-primary hover:cursor-pointer"
                    [ngStyle]="{'border-color': isSelected ? '#0053a0' : '#e0e0e0',
                                'background-color': isSelected ? '#ccc' : 'inherit'}" (click)="toggleSelection()"
                    (mouseenter)="hovered = true" (mouseleave)="hovered = false"
                    [class.hover:bg-gray-300]="hovered && !isSelected" [class.hover:scale-110]="hovered && !isSelected"
                    [class.selected]="isSelected">
                    <div class="flex justify-center items-center m-4 p-8 bg-default">
                        <mat-icon class="icon-size-5 text-accent" matPrefix svgIcon="feather:plus"></mat-icon>
                    </div>
                    <div class="flex flex-col items-start justify-between m-6">
                        <div class="text-md font-semibold tracking-tight leading-6 truncate">Blank Checklist</div>
                        <div class="text-xs font-medium">
                            Start with a blank checklist and add any reports you need
                        </div>
                    </div>
                </div>
                <div class="w-1/3">

                </div>
                <div class="w-1/3">

                </div>
            </div>
        </div>


        <div class="flex flex-col flex-auto px-12 pt-8" *ngIf="activeView == 3">
            <div class="flex flex-row justify-between p-5">
                <div class="flex text-xl font-semibold flex-col justify-start">
                    Checklists
                </div>
                <div class="justify-end">
                    <button *ngIf="!hideAddButton || checklist.checkpoints.length === 0" class="ml-4 h-8 primary-2" mat-flat-button (click)="addChecklist(); hideAddButton = true" [matTooltip]="'Add New Checklist '">
                        <mat-icon [svgIcon]="'heroicons_outline:clipboard-list'" class="icon-size-5"></mat-icon>
                        <span class="ml-2 text-xs" i18n>Add Checklist</span>
                    </button>
                </div>
            </div>
            <div class="flex flex-auto flex-col" style="max-height: 400px;" fuseScrollbar>
                <div class="flex flex-col items-center gap-5 mt-10" *ngIf="checklist.checkpoints.length">
                    <ng-container *ngFor="let check of checklist.checkpoints; let i = index">
                        <div class="flex items-center w-full">
                            <mat-icon class="-ml-0.5 icon-size-5 text-hint" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                            <input class="w-full ml-1.5 px-1 py-0.5" placeholder="'Click Enter to Save'"
                                [(ngModel)]="check.title" (keydown.enter)="addChecklist(); showFields(i)"
                                #newCheckInput i18n-placeholder>
                            <div [ngClass]="{'ml-2': showDueDays(i)}">
                                <input *ngIf="showDueDays(i)" type="text" [(ngModel)]="check.dueDays" placeholder="Due days" class="w-14 py-0.5">
                            </div>
                            <div [ngClass]="{'ml-2': showIsRequired(i)}">
                                <mat-slide-toggle *ngIf="showIsRequired(i)" [(ngModel)]="check.isRequired" class="w-14 py-0.5"></mat-slide-toggle>
                            </div>
                            <div [ngClass]="{'ml-2': showPriority(i)}">
                                <span *ngIf="showPriority(i)" [matMenuTriggerFor]="actionMenu" (click)="$event.stopPropagation()">
                                    <mat-icon class="w-14 py-0.5" svgIcon="heroicons_solid:flag"
                                        [ngClass]="{
                                            'text-red-600': check.priority === 1,
                                            'text-yellow-400': check.priority === 2,
                                            'text-green-500': check.priority === 3
                                        }"></mat-icon>
                                </span>
                                <mat-menu #actionMenu="matMenu">
                                    <button mat-menu-item (click)="togglePriority(1, i)">
                                        <mat-icon svgIcon="heroicons_solid:flag" class="text-red-600 icon-size-4"></mat-icon> High
                                    </button>
                                    <button mat-menu-item (click)="togglePriority(2, i)">
                                        <mat-icon svgIcon="heroicons_solid:flag" class="text-yellow-400 icon-size-4"></mat-icon>
                                        Medium
                                    </button>
                                    <button mat-menu-item (click)="togglePriority(3, i)">
                                        <mat-icon svgIcon="heroicons_solid:flag" class="text-green-500 icon-size-4"></mat-icon>
                                        Low
                                    </button>
                                </mat-menu>
                            </div>
                            <mat-icon class="group-hover:flex ml-auto icon-size-3 cursor-pointer " [svgIcon]="'heroicons_solid:x'"
                                (click)="removeCheckpoint(check)"></mat-icon>
                        </div>
                    </ng-container>
                </div>
        
                <div *ngIf="!checklist.checkpoints.length" class="flex flex-auto flex-col items-center justify-center dark:bg-transparent">
                    <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:clipboard-list'"></mat-icon>
                    <div class="flex justify-center mt-5 text-gray-500">
                        No checkpoints found
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="flex border-t justify-end gap-4 p-6">
            <button mat-stroked-button (click)="closeDialog()">
                <span class="inline-flex items-center justify-between w-full leading-5">
                    <span class="ml-1 text-sm">Cancel</span>
                </span>
            </button>
            <button mat-stroked-button *ngIf="activeView !== 1" (click)="setView(activeView - 1)">
                <span class="inline-flex items-center justify-between w-full leading-5">
                  <span class="ml-1 text-sm">Back</span>
                </span>
              </button>
              
              <button mat-flat-button color="primary" class="text-white primary-2" *ngIf="isLastView" (click)="onNextClick()">
                <span class="inline-flex items-center justify-between w-full leading-5">
                  <span class="ml-1 text-sm">Save</span>
                </span>
              </button>
              <button mat-flat-button color="primary" class="text-white primary-2" *ngIf="!isLastView" (click)="onNextClick()">
                <span class="inline-flex items-center justify-between w-full leading-5">
                  <span class="ml-1 text-sm">Next</span>
                </span>
              </button>

            <!-- <button mat-flat-button color="primary" class="text-white primary-2" *ngIf="activeView === 3">
                <span class="inline-flex items-center justify-between w-full leading-5">
                    <span class="ml-1 text-sm">Save</span>
                </span> 
            </button> -->
        </div>
    </div>

