.mat-slide-toggle {
    transform: scale(0.7);
}
.mat-dialog-container.no-padding-dialog {
    padding: 0!important;
}

.mat-dialog-container{
    padding: 0!important;
}
::ng-deep .mat-dialog-container{
    padding: 0px !important;
}