<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-default ">

   
        <div  class="flex flex-col">
       
            <div class="bg-card dark:bg-transparent">
                <!-- Header -->
                <div class="flex  sm:flex-row  items-end   sm:items-end sm:justify-between py-3 px-6 md:px-8 ">

                    <!-- Title -->
                    <div>
                        <div class="text-3xl font-bold tracking-tight leading-none" i18n>Start CheckList</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="AssignCheckListCount > 0">
                                {{AssignCheckListCount}}
                            </ng-container>
                            {{AssignCheckListCount | i18nPlural: {
                            '=0'   : 'No Assign CheckList',
                            '=1'   : 'CheckList',
                            'other': 'CheckLists'
                        } }} 
                        </div>
                    </div>

                    <div class="sm:mt-0">
                        <div class="flex gap-0">
                        <div class="flex gap-0">
                            <button
                            class="ml-4 h-8 primary-2"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="assignNew()" 
                            [matTooltip]="'Assign CheckList'">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'" class="icon-size-5" ></mat-icon>
                            <span class="ml-2 mr-1 text-xs" i18n>Start New</span>
                        </button>

                    </div>
                        
                    </div>
            
            
                    </div>
      
                </div>
            </div>
                <div class="flex-auto  bg-default" fuseScrollbar>
                <!-- User list -->
                <div class="flex-auto py-2  pb-5">
                  <div class="flex flex-col flex-auto bg-card shadow  mx-5 overflow-hidden">
                    <div class="flex  flex-wrap justify-between px-2 py-2">
                        <div class="flex-auto self-center">
                            <mat-form-field
                                class="fuse-mat-dense fuse-mat-no-subscript w-1/2 h-10" >
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input matInput [formControl]="searchInputControl"
                                    [autocomplete]="'off'" [placeholder]="'Search ...'">
                            </mat-form-field>
                        </div>
                        <mat-paginator
                        class=""                          
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="false">
                    </mat-paginator>
                    </div>
                     <ng-container *ngIf="AssignCheckList$ | async as AssignCheckList">
                        <ng-container *ngIf="AssignCheckList.length; else noUser">
                            <div class="flex-auto   bg-white overflow-x-auto  min-h-4/5">
                                <table mat-table [dataSource]="dataSource"  matSort>
                                    <ng-container matColumnDef="select">
                                        <th mat-header-cell *matHeaderCellDef class="w-8">
                                         No.
                                        </th>
                                        <td mat-cell *matCellDef="let row let i = index" class="w-8">

                                        {{ i + 1 }}
                                        </td>
                                    </ng-container>
                               
                                    <ng-container matColumnDef="checkList">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15rem;" i18n>Check List</th>
                                        <td mat-cell *matCellDef="let row" [style.cursor]="'pointer'"  class="group relative overflow-hidden"  style="width: 15rem;">
                                          
                                            <span (click)="UpdateAssignCheck(row)" class="hover:text-clip truncate"><u>{{row.checkList | tblimit: row.isHovered}}</u></span>
                                            <span *ngIf="row.isHovered" class="relative right-0">
                                              
                                              </span>
                                        
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="code">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Code</th>
                                        <td mat-cell *matCellDef="let row"> {{row.code}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="referenceno">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Reference No</th>
                                        <td mat-cell *matCellDef="let row"> {{row.referenceno}} </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="remarks">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Remarks</th>
                                        <td mat-cell *matCellDef="let row"> {{row.remarks}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="createdByName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Created By</th>
                                        <td mat-cell *matCellDef="let row" >
                                            <div class="flex items-center justify-between">
                                               {{row.createdByName | tblimit: row.isHovered}}
                                            
                                              </div>
                                         
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="createdDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Created Date </th>
                                        <td mat-cell *matCellDef="let row"> {{row.createdDate|date}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="edit">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-5">Action</th>
                                        <td mat-cell *matCellDef="let row" class="w-20 text-center">
                                            <!-- (click)="openDashboardDialog(row)" -->
                                             <button  class="h-5 w-5 mr-2" mat-mini-fab color="primary" [matMenuTriggerFor]="postCardMenu01">
                                                <mat-icon class="icon-size-3">assignment_turned_in</mat-icon>
                                            </button> 
                                            <mat-menu #postCardMenu01="matMenu">
                                
                                            <button   mat-menu-item>
                                                <span class="flex items-center" (click)="AssigntoLead(row)">
                                                <!-- <mat-icon class="icon-size-5 mr-1">add_task</mat-icon> -->
                                                  <span class="text-sm truncate w-30">Assign to Lead</span>
                                                </span>
                                              </button>
                                              <button  mat-menu-item>
                                                <span class="flex items-center">
                                                <!-- <mat-icon class="icon-size-5 mr-1">edit_note</mat-icon> -->
                                                  <span class="text-sm truncate w-30">Assign to Opportunity</span>
                                                </span>
                                              </button>
                                            
                                        </mat-menu>

                                            <button (click)="delete(row)" class="h-5 w-5" mat-mini-fab color="warn" >
                                                <mat-icon class="icon-size-3">delete</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4" i18n>No data matching the filter</td>
                                    </tr>
                                </table>
                             <div class="pb-4"> </div>
                            </div>
                        </ng-container>
                      </ng-container> 
                     <!-- No contacts -->
                     <ng-template #noUser>
                        <div class="p-8 sm:p-16  text-center">
                            <div class="text-3xl font-semibold tracking-tight" i18n>
                               Record Not Found !
                            </div>
                            <!-- (click)="createUser()" -->
                             <div class="text-sm" i18n>
                                Currently, there are no record available. Click the  
                               
                             </div>
                           </div>
                     </ng-template>
                  </div>
                </div>
            </div>
        
    </div>
</div>