<div class="flex flex-col flex-auto justify-between bg-white h-screen overflow-auto">
    <mat-accordion>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>
          <mat-panel-title class="items-center justify-between">
            <span class="text-base font-semibold">Deals(0)</span>
            <span class="text-base font-semibold text-accent2">+Add</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="text-primary">Track the customer requests associated with this record.</p>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>
          <mat-panel-title class="items-center justify-between">
            <span class="text-base font-semibold">Attachment</span>
            <span class="text-base font-semibold text-accent2">+Add</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="text-primary">Track the customer requests associated with this record.</p>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>
          <mat-panel-title class="items-center justify-between">
            <span class="text-base font-semibold">Ticket(0)</span>
            <span class="text-base font-semibold text-accent2">+Add</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="text-primary">Track the customer requests associated with this record.</p>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>
          <mat-panel-title class="items-center justify-between">
            <span class="text-base font-semibold">Payments</span>
            <span class="text-base font-semibold text-accent2">+Add</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="text-primary">Track the customer requests associated with this record.</p>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>
          <mat-panel-title class="items-center justify-between">
            <span class="text-base font-semibold">Related Companies</span>
            <span class="text-base font-semibold text-accent2">+Add</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="text-primary">Track the customer requests associated with this record.</p>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>
          <mat-panel-title class="items-center justify-between">
            <span class="text-base font-semibold">Playbooks</span>
            <span class="text-base font-semibold text-accent2">+Add</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="text-primary">Track the customer requests associated with this record.</p>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>
          <mat-panel-title class="items-center justify-between">
            <span class="text-base font-semibold">Account Overview</span>
            <span class="text-base font-semibold text-accent2">+Add</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="text-primary">Track the customer requests associated with this record.</p>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>
          <mat-panel-title class="items-center justify-between">
            <span class="text-base font-semibold">Ticket(0)</span>
            <span class="text-base font-semibold text-accent2">+Add</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="text-primary">Track the customer requests associated with this record.</p>
      </mat-expansion-panel>
      <mat-expansion-panel [togglePosition]="'before'">
        <mat-expansion-panel-header>
          <mat-panel-title class="items-center justify-between">
            <span class="text-base font-semibold">Ticket(0)</span>
            <span class="text-base font-semibold text-accent2">+Add</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="text-primary">Track the customer requests associated with this record.</p>
      </mat-expansion-panel>
    </mat-accordion>
</div>
