<div class="absolute flex flex-col flex-auto pb-4 overflow-auto h-full w-full" >
        <total-leads></total-leads>
        <lost-leads></lost-leads>
        <new-leads></new-leads>
        <qualified-leads></qualified-leads>
        <won-leads></won-leads>
        <source-piechart></source-piechart>
        <leadowner-graph></leadowner-graph>
        <monthly-chart></monthly-chart>
        <leadsummary-chart></leadsummary-chart>
<!-- <div class="flex flex-col py-3">
<leadowner-graph></leadowner-graph>
</div> -->
</div>