<div class="flex flex-col flex-auto min-w-0 px-1/4">
    <!-- Header -->
    <div
        class="flex sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <h2 class="text-8xl md:text-6xl font-extrabold tracking-tight">
                Terms & Conditions
            </h2>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="prose prose-lg max-w-5xl">

            <!-- Introduction -->
            <p class="text-justify">
                Welcome to our Facebook App Integration! These terms and conditions outline the rules and regulations
                for
                the use of our application in conjunction with the Facebook platform.By accessing or using our
                application, you agree to comply with and be bound by these terms.
                If you disagree with any part of these terms, please do not use our application.
            </p>

            <h2>1. Account Information and Permissions:</h2>
            <p class="text-justify">
                To use our Facebook App Integration, you may be required to connect your Facebook account.
                By doing so, you grant us permission to access certain information from your Facebook profile, including
                but not limited to your public profile, friend list, and email address.
                Rest assured that we prioritize the protection and privacy of your data, adhering to Facebook's policies
                and guidelines.
            </p>

            <h2>2. Appropriate Use:</h2>
            <p class="text-justify">
                You agree to use our application in compliance with all applicable laws and Facebook's policies.Any
                misuse, including but not limited to unauthorized access, data scraping, or violation of intellectual
                property rights, will result in the termination of your access to our services.
            </p>

            <h2>3. Data Security and Privacy:</h2>
            <p class="text-justify">
                We take the security of your data seriously.While we strive to protect your information, you acknowledge
                that the transmission of data over the internet is inherently insecure, and we cannot guarantee the
                absolute security of your information.By using our application, you accept these risks and agree to our
                Privacy Policy.
            </p>

            <h2>4. Third-Party Services:</h2>
            <p class="text-justify">
                Our Facebook App Integration may utilize third-party services or APIs.You acknowledge and agree that we
                are
                not responsible for the actions or policies of these third parties.Please review the terms and
                conditions of
                any third-party services that you may interact with through our application.
            </p>

            <h2>5. Termination:</h2>
            <p class="text-justify">
                We reserve the right to terminate or suspend your access to our Facebook App Integration at any time,
                without prior notice, for any reason, including but not limited to a breach of these terms.Upon
                termination, you must cease using our application and remove any associated data.
            </p>

            <h2>6. Changes to Terms:</h2>
            <p class="text-justify">
                We may update or modify these terms and conditions at any time without prior notice.It is your
                responsibility to regularly check for any changes.Continued use of our Facebook App Integration after
                the modifications constitutes your acceptance of the updated terms.
            </p>

            <h2>7. Disclaimer of Warranty:</h2>
            <p class="text-justify">
                Our Facebook App Integration is provided "as is" without any warranty or representation, whether express
                or implied.We do not guarantee the accuracy, completeness, or reliability of the information or
                functionality provided by our application.
            </p>

            <h2>8. Contact Information:</h2>
            <p class="text-justify">
                If you have any questions or concerns regarding these terms and conditions, please contact us at
                daniyal.babar@integcubes.com.
            </p>

            <p class="text-justify">
                By using our Facebook App Integration, you acknowledge that you have read, understood, and agreed to
                these
                terms and conditions.Thank you for choosing our application—we look forward to enhancing your Facebook
                experience!
            </p>

            <i>Last Updated: {{today|date:'MM/dd/yyyy'}}</i>


        </div>

    </div>
</div>