  <ng-container>
               <div class="flex flex-col flex-auto bg-card shadow  mx-6 pb-4 border-t h-4/5" fuseScrollbar>
                        <div class="flex  flex-wrap justify-between px-2 py-2">
                            <div class="flex-auto self-center">
                                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-1/2 h-10">
                                    <mat-icon class="icon-size-5" matPrefix
                                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                    <input matInput (keyup)="applyFilter($event)" [formControl]="searchInputControl"
                                        [autocomplete]="'off'" [placeholder]="'Search Leads'">
                                </mat-form-field>
                            </div>
                            <mat-paginator
                            class=""                          
                            [ngClass]="{'pointer-events-none': isLoading}"
                            [length]="pagination.length"
                            [pageIndex]="pagination.page"
                            [pageSize]="pagination.size"
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            [showFirstLastButtons]="false">
                        </mat-paginator>
                        </div>

                        <ng-container *ngIf="leads$ | async as leads">
                            <ng-container *ngIf="leads.length; else noLead">
                                <div class="flex-auto bg-card h-4/5" fuseScrollbar>

                                    <table mat-table [dataSource]="dataSource" matSort matTableExporter
                                        #exporter="matTableExporter">
                                        <!-- Select -->
                                        <ng-container matColumnDef="select" class="shadow-sm">
                                            <th mat-header-cell *matHeaderCellDef class="min-w-1 w-18">
                                                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                                    [checked]="selection.hasValue() && isAllSelected()" color="accent"
                                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                    [aria-label]="checkboxLabel()">
                                                </mat-checkbox> No.
                                            </th>
                                            <td mat-cell *matCellDef="let row let i = index" class="min-w-1  w-18">
                                                <mat-checkbox (click)="$event.stopPropagation()"
                                                    (change)="$event ? selection.toggle(row) : null"
                                                     color="accent"
                                                     (change)="activeFn()"
                                                    [checked]="selection.isSelected(row)"
                                                    [aria-label]="checkboxLabel(row)">
                                                </mat-checkbox> {{ i + 1 }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                class="w-80 min-w-80 max-w-80" i18n>
                                                Name </th>
                                            <td mat-cell *matCellDef="let row" [style.cursor]="'pointer'"
                                                class="group w-60 min-w-60 max-w-60 relative overflow-hidden "
                                                (mouseenter)="onMouseEnter(row)" (mouseleave)="onMouseLeave(row)">

                                                <div class="flex items-center justify-between">

                                                    <div class="flex gap-2">

                                                        <span
                                                            class="flex flex-0 items-center justify-center w-6 h-6  rounded-full overflow-hidden">
                                                            <ng-container *ngIf="row.avatar">
                                                                <img class="object-cover w-full h-full"
                                                                    [src]="row.avatar" alt="Contact avatar" />
                                                            </ng-container>
                                                            <ng-container *ngIf="!row.avatar">
                                                                <div
                                                                    class="flex items-center justify-center w-full h-full rounded-full uppercase font-semibold bg-gray-200 text-gray-600">
                                                                    {{row.firstName.charAt(0)}}
                                                                </div>
                                                            </ng-container>
                                                        </span>
                                                        <span (click)="previewLead(row)"
                                                            class="hover:text-clip truncate self-center items-center justify-center"><u>{{row.firstName
                                                                + " " +
                                                                row.lastName | tblimit: row.isHovered}}</u>
                                                        </span>
                                                    </div>


                                                    <span *ngIf="row.isHovered" class="relative right-0">
                                                        <button mat-stroked-button (click)="updateLead(row)"
                                                            class="h-5">
                                                            <span class="text-xs" i18n>Preview</span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="rating">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Rating </th>
                                            <td mat-cell *matCellDef="let row" class="">

                                                <div class="flex flex-row mt-2">
                                                    <ng-container>
                                                        <span class="flex flex-row">
                                                            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                                                                <svg class="w-4 h-4 " [ngClass]="{
                                                                  'text-yellow-500': star <=  row.rating,
                                                                  'text-gray-500': star > row.rating ||  row.rating === undefined
                                                                }" xmlns="http://www.w3.org/2000/svg"
                                                                    viewBox="0 0 20 20" fill="currentColor">
                                                                    <path
                                                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                                                </svg>
                                                            </ng-container>
                                                        </span>


                                                        <span
                                                            class=" py-1 px-1 ml-1 -mt-1 rounded-full text-xs  text-white "
                                                            matTooltip="Lead Qualification Assessment Rating" [ngClass]="{
                                                                'status1':  row.rating <= 3,
                                                                'Status4':  row.rating > 3 &&  row.rating <= 4,
                                                                'Status5':  row.rating >= 4
                                                              }">{{ row.rating | number:'1.2-2' }}</span>
                                                    </ng-container>
                                                </div>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="createdDate">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Created Date
                                            </th>
                                            <td mat-cell *matCellDef="let row" class=""> {{row.createdDate | date}}
                                            </td>
                                        </ng-container>
                                        <!-- <ng-container matColumnDef="companyTitle">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
                                                <td mat-cell *matCellDef="let row" class="text-sm"> {{row.companyTitle}} </td>
                                            </ng-container> -->

                                        <!-- <ng-container matColumnDef="sourceTitle">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Source </th>
                                                <td mat-cell *matCellDef="let row" class="text-sm"> {{row.sourceTitle}} </td>
                                            </ng-container> -->
                                        <ng-container matColumnDef="industryTitle" class="">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Industry </th>
                                            <td mat-cell *matCellDef="let row" class=""> {{row.industryTitle}} </td>
                                        </ng-container>
                                        <!-- <ng-container matColumnDef="country">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
                                                <td mat-cell *matCellDef="let row" class="text-sm"> {{row.country}} </td>
                                            </ng-container> -->
                                        <ng-container matColumnDef="phone">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Phone </th>
                                            <td mat-cell *matCellDef="let row" class=" text-clip"> {{row.mobile}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="productTitle">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Product </th>
                                            <td mat-cell *matCellDef="let row" class=""> {{row.productTitle}} </td>
                                        </ng-container>

                                        <!-- <ng-container matColumnDef="email">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                                <td mat-cell *matCellDef="let row" class="text-sm"> {{row.email}} </td>
                                            </ng-container> -->

                                        <ng-container matColumnDef="leadOwnerName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Lead Owner </th>
                                            <td mat-cell *matCellDef="let row" class="">

                                                {{row.leadOwnerName| tblimit}}

                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="leadStatus">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Status </th>
                                            <td mat-cell *matCellDef="let row" class=""> {{row.statusTitle}} </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        <!-- Row shown when there is no matching data. -->
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4" i18n>No data matching the filter</td>
                                        </tr>


                                    </table>


                                </div>

                            </ng-container>
                        </ng-container>
                        <ng-template #noLead>
                            <div class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center" i18n>
                                There are no Leads!
                            </div>
                        </ng-template>
                    </div> </ng-container>
