<div class="flex flex-col w-full">
    <div class="flex flex-row h-10 sm:h-18 px-8 sm:px-12 bg-accent-100" style="background-color: #00bda5!important;">
        <!-- Close button -->
        <div class="flex justify-start items-center w-full">
            <a class="text-2xl text-white font-bold">Edit User</a>
        </div>
        <div class="flex items-center justify-end">
            <a
                mat-icon-button
                [matTooltip]="'Close'"
                [routerLink]="['../']"
                (click)="closeDrawer()">
                <mat-icon
                    class="text-white"
                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </a>
        </div>
    </div>
    <!-- Edit mode -->
    <ng-container>
        <!-- Contact form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12 pt-6">
            <div class="w-full max-w-3xl">
                <form [formGroup]="userForm" (ngSubmit)="save()">
                    <div>
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>First Name</mat-label>
                            <input matInput [formControlName]="'firstName'" [spellcheck]="false" class="h-2!" #firstName>
                        </mat-form-field>
                    </div>
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Last Name</mat-label>
                            <input matInput [formControlName]="'lastName'" [spellcheck]="false" #lastName>
                        </mat-form-field>
                    </div>
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>User Name</mat-label>
                            <input matInput [formControlName]="'userName'" [spellcheck]="false" #userName>
                        </mat-form-field>
                    </div>

                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Email</mat-label>
                            <input matInput [formControlName]="'email'" [spellcheck]="false" #email>
                        </mat-form-field>
                    </div>

                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Phone Number</mat-label>
                            <input matInput [formControlName]="'phoneNumber'" [spellcheck]="false" #phoneNumber>
                        </mat-form-field>
                    </div>
                  
                    <!-- Actions -->
                    <div class="flex sticky bottom-0 items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->
        <ng-container *ngIf="selectedUser.id !== -1">
            <button mat-button [color]="'warn'" [matTooltip]="'Delete'" (click)="delete()"[routerLink]="['../']">
                Delete
            </button>
        </ng-container>

        <!-- Cancel -->
        <button class="ml-auto" mat-button [matTooltip]="'Cancel'" (click)="closeDrawer()" [routerLink]="['../']">
            Cancel
        </button>
        <!-- Save -->
        <button class="ml-2" mat-flat-button [color]="'primary'" [disabled]="userName.invalid"
            [matTooltip]="'Save'"
            type="submit">
            Save
        </button>
                     
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>

























































<!-- <div class="flex flex-col w-full">
    <div class="flex flex-row h-10 sm:h-18 px-8 sm:px-12 bg-accent-100" style="background-color: #00bda5!important;">
       
        <div class="flex justify-start items-center w-full">
            <a class="text-2xl text-white font-bold">Create Lead</a>
        </div>
        <div class="flex items-center justify-end">
            <a
                mat-icon-button
                [matTooltip]="'Close'"
                [routerLink]="['../']"
                (click)="closeDrawer()">
                <mat-icon
                    class="text-white"
                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </a>
        </div>
    </div>

    <ng-container>
        
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12 pt-6">
            <div class="w-full max-w-3xl">
                <form [formGroup]="userForm" (ngSubmit)="save()">
                    <div>
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>First Name</mat-label>
                            <input matInput [formControlName]="'firstName'" [spellcheck]="false" class="h-2!" #firstName>
                        </mat-form-field>
                    </div>
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Last Name</mat-label>
                            <input matInput [formControlName]="'lastName'" [spellcheck]="false" #lastName>
                        </mat-form-field>
                    </div>
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>User Name</mat-label>
                            <input matInput [formControlName]="'userName'" [spellcheck]="false" #userName>
                        </mat-form-field>
                    </div>
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                            <mat-label>Email</mat-label>
                            <input matInput [formControlName]="'email'" [spellcheck]="false" #email>
                        </mat-form-field>
                    </div>
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                            <mat-label>Phone Number</mat-label>
                            <input matInput [formControlName]="'phoneNumber'" [spellcheck]="false" #phoneNumber>
                        </mat-form-field>
                    </div>
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                            <mat-label>Tenant Id</mat-label>
                            <input matInput [formControlName]="'tenantId'" [spellcheck]="false" #tenantId>
                        </mat-form-field>
                    </div>             
                   
                    <div class="flex sticky bottom-0 items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                       
        <ng-container *ngIf="selectedUser.userId !== -1">
            <button mat-button [color]="'warn'" [matTooltip]="'Delete'">
                Delete
            </button>
        </ng-container>
   
      
        <button class="ml-auto" mat-button [matTooltip]="'Cancel'" (click)="closeDrawer()" [routerLink]="['../']">
            Cancel
        </button>
     
        <button class="ml-2" mat-flat-button [color]="'primary'" [disabled]="userForm.invalid"
            [matTooltip]="'Save'"
            type="submit">
            Save
        </button>
                     
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div> -->