.mat-expansion-indicator::after {
    color: #0c5d99 !important;
}

.mat-icon-button {
    border: solid 1px #e2e8f0;
    width: 33px;
    height: 33px;
}

.mat-expansion-indicator::after {
    color:  #e2e8f0 !important;
}

.mat-expansion-indicator::before {
    color:  #e2e8f0 !important;
}