<div class="flex flex-col flex-auto min-w-0 py-5">
    <!-- Header -->
    <div>
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <!-- Project selector -->
            <div
                class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
                matRipple
                [matMenuTriggerFor]="projectsMenu">
                <div class="flex items-center">
                    <div class="overflow-hidden">
                        <div class="font-medium leading-6 truncate">Activity</div>
                    </div>
                    <div class="flex items-center justify-center pl-2">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                    </div>
                </div>
                <mat-menu
                    #projectsMenu="matMenu"
                    [xPosition]="'before'">
                    <button
                        mat-menu-item
                       >ACME Corp. Backend App
                    </button>
                    <button
                        mat-menu-item
                       >ACME Corp. Frontend App
                    </button>
                    <button
                        mat-menu-item
                        >Creapond
                    </button>
                    <button
                        mat-menu-item
                        >Withinpixels
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 px-6 sm:pt-6">
        <div class="flex items-center  mb-2 sm:mt-0 ">
            <!-- Search -->
            <div class="flex-auto">
                <mat-form-field
                    class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input matInput (keyup)="applyFilter($event)"
                        [autocomplete]="'off'" [placeholder]="'Search contacts'">
                </mat-form-field>
            </div>
        </div>
        <mat-tab-group
        class="sm:px-2"
        mat-stretch-tabs="false"
        [animationDuration]="'0'">

        <!-- Activity -->
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="inline-flex items-center space-x-2">
                    <span class="text-md">Activity</span>
                </span>
            </ng-template>
            <ng-template matTabContent>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                    
                </div>
            </ng-template>
        </mat-tab>

        <!-- Notes -->
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="inline-flex items-center space-x-2">
                    <span class="text-md">Notes</span>
                </span>
            </ng-template>
            <ng-template matTabContent>
                <div class="grid grid-cols-1 sm:grid-cols-6 gap-6 w-full min-w-0">
                    
                </div>
            </ng-template>
        </mat-tab>

        <!-- Email -->
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="inline-flex items-center space-x-2">
                    <span class="text-md">Email</span>
                </span>
            </ng-template>
            <ng-template matTabContent>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0">
                   
                </div>
            </ng-template>
        </mat-tab>
        <!-- Call -->
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="inline-flex items-center space-x-2">
                    <span class="text-md">Call</span>
                </span>
            </ng-template>
            <ng-template matTabContent>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0">
                   
                </div>
            </ng-template>
        </mat-tab>
        <!-- Task -->
        <mat-tab class="min-w-10 max-w-10">
            <ng-template mat-tab-label class="min-w-10 max-w-10">
                <span class="inline-flex items-center space-x-2">
                    <span class="text-md">Task</span>
                </span>
            </ng-template>
            <ng-template matTabContent>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0">
                   
                </div>
            </ng-template>
        </mat-tab>
        <!-- Meeting -->
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="inline-flex items-center space-x-2">
                    <span class="text-md">Meeting</span>
                </span>
            </ng-template>
            <ng-template matTabContent>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0">
                   
                </div>
            </ng-template>
        </mat-tab>

    </mat-tab-group>
    </div>
</div>