/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
// html{
//     overflow: hidden;
// }
.h-main-section {
    height: calc(100vh - 4rem); /* Subtracting h-16 (4rem) from h-screen */
  }
  .primary-2:not(:disabled) {
    background-color: #E85038!important;
    color: white!important;
}

.primary-2-Icon:not(:disabled) {

  color:#4caf50 !important
}