<div class="flex flex-col flex-auto md:w-160 md:min-w-160 max-h-140 -m-6 overflow-y-auto">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Meeting</div>
        <button mat-icon-button (click)="closeDialog()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Task form -->
    <form class="flex flex-col flex-0 items-start w-full p-6 sm:p-8 space-y-6 overflow-y-auto"
        [formGroup]="composeForm">
        <!-- Title -->
        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
            <mat-label i18n>Subject</mat-label>
            <textarea matInput [formControlName]="'subject'" [rows]="1" cdkTextareaAutosize
                [cdkAutosizeMinRows]="1">
                </textarea>
        </mat-form-field>
        <!-- Description -->
        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
            <mat-label i18n>Note</mat-label>
            <textarea matInput [formControlName]="'note'" [rows]="1" cdkTextareaAutosize [cdkAutosizeMinRows]="1"
                class="resize-none h-16">
            </textarea>
        </mat-form-field>            
        <!-- Description -->
        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
            <mat-label i18n>Start Time</mat-label>
            <input matInput type="time" [formControlName]="'startTime'">
        </mat-form-field>
        <!-- Description -->
        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
            <mat-label i18n>End Time</mat-label>
            <input matInput type="time" [formControlName]="'endTime'">
        </mat-form-field>
        
        
    </form>
</div>
<!-- Actions -->
       <!-- Actions -->
       <div class="flex flex-col max-w-240 md:min-w-160 max-h-16 -m-6 mt-1">
        <div class="flex  items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-gray-50 dark:bg-transparent">
        <!-- Delete -->
        <button mat-button [color]="'warn'" [matTooltip]="'Delete'" (click)="delete()">
            Delete
        </button>

        <!-- Cancel -->
        <button class="ml-auto" mat-button [matTooltip]="'Cancel'" (click)="close()">
            Cancel
        </button>

        <!-- Save -->
        <button class="ml-2" mat-flat-button [color]="'primary'" (click)="save()">
            Save
        </button>
      </div>
    </div>
