<!-- <div class="flex justify-between max-w-full min-w-full">
    <div class="flex-1" style="max-width: 22rem!important;">
        <app-opportunity-info></app-opportunity-info>
    </div>
    <div class="flex-1 flex-grow">
        <app-opportunity-wrapper></app-opportunity-wrapper>
    </div>
    <div class="flex-1" style="max-width: 18rem!important;">
        <app-opportunity-data></app-opportunity-data>
    </div>
</div>-->
<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full">

        <!-- Drawer -->
        <mat-drawer
            class="flex w-80 min-w-80 dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            #matDrawer>
            <app-opportunity-info></app-opportunity-info>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex-auto">
                <app-opportunity-wrapper></app-opportunity-wrapper>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>