<div class="flex flex-col flex-auto min-w-0 px-1/4">
    <!-- Header -->
    <div
        class="flex sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <h2 class="text-8xl md:text-6xl font-extrabold tracking-tight" i18n>
                Privacy Policy
            </h2>
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="prose prose-lg max-w-5xl">
            <!-- Introduction -->
            <p class="text-justify" i18n>
                At Quantus, we are committed to protecting your privacy and ensuring the security of your
                personal information.
                This Privacy Policy outlines how we collect, use, disclose, and safeguard your data when you interact
                with our services.
                By using our services, you consent to the practices described in this Privacy Policy.
            </p>
            <h2 i18n>1. Information We Collect</h2>
            <h3 i18n> Personal Information:</h3>
            <p class="text-justify" i18n>
                When you use our services, we may collect personal information, such as your name, email address, and
                other details you provide voluntarily.
            </p>
            <h3 i18n> Usage Information:</h3>
            <p class="text-justify" i18n>
                We gather information about how you interact with our services, including but not limited to your IP
                address, device type, browser, and pages visited.
            </p>
            <h3 i18n> Cookies and Similar Technologies:</h3>
            <p class="text-justify" i18n>
                We use cookies and similar technologies to enhance your experience, analyze usage patterns, and
                personalize content.
            </p>

            <h2 i18n>2. How We Use Your Information</h2>
            <h3 i18n> Providing and Improving Services:</h3>
            <p class="text-justify" i18n>
                We use your information to deliver and enhance our services, personalize your experience, and analyze
                usage patterns for optimization.
            </p>
            <h3 i18n> Communication:</h3>
            <p class="text-justify" i18n>
                We may use your contact information to communicate with you about our services, updates, and promotions.
                You can opt out of promotional emails at any time.
            </p>
            <h3 i18n> Security and Fraud Prevention:</h3>
            <p class="text-justify" i18n>
                We employ measures to protect against unauthorized access, maintain data accuracy, and prevent fraud.
            </p>

            <h2 i18n>3. Data Sharing</h2>
            <h3 i18n> Third-Party Services:</h3>
            <p class="text-justify" i18n>
                We may share your information with trusted third-party service providers to facilitate our services.
                These providers are obligated to maintain the confidentiality and security of your data.
            </p>
            <h3 i18n> Legal Compliance:</h3>
            <p class="text-justify" i18n>
                We may disclose your information to comply with legal obligations, enforce our policies, or respond to
                lawful requests.
            </p>

            <h2 i18n>4. Your Choices</h2>
            <h3 i18n> Opt-Out:</h3>
            <p class="text-justify" i18n>
                We employ industry-standard security measures to protect your information from unauthorized access,
                disclosure, alteration, or destruction.
            </p>
            <h3 i18n> Access and Correction:</h3>
            <p class="text-justify" i18n>
                You can access and correct your personal information by contacting us. We will make reasonable efforts
                to update or delete your information as requested.
            </p>
            <h2 i18n>5. Data Security</h2>
            <h3 i18n> Security Measures:</h3>
            <p class="text-justify" i18n>
                We employ industry-standard security measures to protect your information from unauthorized access,
                disclosure, alteration, or destruction.
            </p>
            <h3 i18n> Data Retention:</h3>
            <p class="text-justify" i18n>
                We retain your information only as long as necessary for the purposes outlined in this Privacy Policy or
                as required by law.
            </p>
            <h2 i18n>6. Changes to Privacy Policy:</h2>
            <p class="text-justify" i18n>
                We reserve the right to update this Privacy Policy to reflect changes in our practices. We will notify
                you of any material changes, and your continued use of our services constitutes acceptance of the
                updated policy.
            </p>
            <h2 i18n>7. Contact Information:</h2>
            <p class="text-justify" i18n>
                If you have any questions or concerns regarding these terms and conditions, please contact us at
                daniyal.babar@integcubes.com.
            </p>
            <p class="text-justify" i18n>
                Thank you for trusting Quantus. We are dedicated to safeguarding your privacy and providing
                you with a secure and enjoyable experience.
            </p>
            <i i18n>Last Updated: {{today|date:'MM/dd/yyyy'}}</i>
        </div>
    </div>
</div>