<div class="flex flex-col flex-auto w-full h-full overflow-hidden  px-4">
    <div class="flex flex-col gap-2 sm:flex-col items-end p-6 sm:py-4 md:px-8 border-b">
        <div class="flex gap-1 items-center" (click)="closeDialog()">
            <mat-icon class="icon-size-4" matPrefix svgIcon="feather:arrow-left-circle"></mat-icon>
            <div class="text-md font-normal tracking-tight leading-none hover:underline hover:cursor-pointer">Back to Lead</div>
        </div>
    </div>
  
<div class="flex w-full">
    <div class="text-3xl font-bold tracking-tight leading-none py-4">Checkpoints</div>
</div>
    <div class="flex w-full flex-col flex-auto">
        <ng-container *ngIf="(checkpoints$ | async) as checkpoint" >
            <ng-container  *ngIf="checkpoint && checkpoint.length;">
            <ng-container *ngFor="let cp of checkpoint">
                <fuse-card
                    class="relative flex flex-col w-full filter-testimonial mb-2 rounded-sm cursor-pointer shadow-md bg-default">
                    <div class="flex flex-row items-center justify-between p-1">
                        <div class="flex flex-row items-center justify-start max-w-3/4 w-3/4  min-w-3/4">

                            <button mat-icon-button (click)="$event.stopPropagation()"
                                (click)="toggleStatus(cp)" >
                                <mat-icon [svgIcon]="'heroicons_outline:check-circle'" [ngClass]="{
                                                                        ' text-green-700 ': cp.status === 1,
                                                                        ' text-red-500'  : cp.status === 0}">
                                </mat-icon>
                            </button>
                            <div class="flex flex-wrap ml-1 text-md font-semibold line-clamp-1 min-w-2/4 max-w-2/4 w-2/4">
                                {{cp.title}}
                            </div>
                            <!-- <div class="flex flex-wrap ml-1 text-md font-semibold line-clamp-1 w-auto">
                                {{cp.description}}
                            </div> -->
                        </div>
                        
                        <div class="flex items-center flex-wrap ml-1 text-md font-semibold line-clamp-1 w-auto">
                            <span class="text-xs text-secondary font-light"></span>
                            Required {{cp.isRequired}}  
                        </div>
                        <div class="flex items-center flex-wrap ml-1 text-md font-semibold line-clamp-1 w-auto">
                            <span class="text-xs text-secondary font-light"></span>
                                {{cp.dueDays}}  days
                        </div>
                        <div class="flex items-center flex-wrap ml-1 text-md font-semibold line-clamp-1 w-auto">
                            <span class="text-xs text-secondary font-light"></span>
                                {{cp.dueDate|date}}
                        </div>
                        <div class="flex flex-row  justify-between dark:bg-transparent gap-2 w-auto">
                            <div class="flex items-center">
                                <span [matMenuTriggerFor]="actionMenu" (click)="$event.stopPropagation()">
                                    <mat-icon svgIcon="heroicons_solid:flag" [ngClass]="{
                                                                            'text-red-600': cp.priority === 1,
                                                                            'text-yellow-400': cp.priority === 2,
                                                                            'text-green-500': cp.priority === 3
                                                                        }"></mat-icon>
                                </span>
                            </div>
                        </div>
                    </div>
                </fuse-card>
            </ng-container>
        </ng-container>
        </ng-container>
   

    </div>

</div>
<!-- 
<div class="flex flex-auto w-full h-full overflow-hidden">

        <div class="text-3xl font-bold tracking-tight leading-none">Checklists</div>

        
   
        
        <div class="relative">
                <ng-container  *ngIf="(checkpoints$ | async) as checkpoint">
                    <ng-container *ngIf="checkpoint && checkpoint.length;">
                        <fuse-card class="relative flex flex-col w-full filter-testimonial mb-2 rounded-sm cursor-pointer shadow-md"
                            >                  
                                <div class="flex flex-row items-center justify-between p-2">
                                    <div class="flex flex-row items-center justify-center">
                                        
                                        <button mat-icon-button (click)="$event.stopPropagation()" (click)="toggleStatus(checklist.cPId, checklist.status)">
                                            <mat-icon [svgIcon]="'heroicons_outline:check-circle'" [ngClass]="{
                                                'text-red-300' : checklist.status === 4,
                                                'text-yellow-300': checklist.status === 3,
                                                ' text-green-300 ': checklist.status === 1,
                                                ' text-blue-300'  : checklist.status === 2}">
                                            </mat-icon>
                                        </button>
                                        <div class="flex flex-wrap ml-1 text-md font-semibold line-clamp-1">
                                            {{checklist.description}}
                                        </div>
                                    </div>
                                    <div class="flex flex-row  justify-between dark:bg-transparent gap-2">
                                   
                                        <div class="flex flex-row justify-between py-3 px-0">
                                            <span class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide"
                                                [ngClass]="{
                                                    'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': checklist.status === 4,
                                                    'bg-yellow-200 text-yellow-800 dark:bg-yellow-600 dark:text-yellow-50': checklist.status === 3,
                                                    'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': checklist.status === 1,
                                                    'bg-blue-200 text-blue-800 dark:bg-blue-600 dark:text-green-50': checklist.status === 2
                                                }">
                                                <span class="leading-relaxed whitespace-nowrap">{{checklist.statusTitle}}</span>
                                              
                                            </span>
                                            
                                          
                                        </div>
                                        <div class="flex items-center">
                                            <span [matMenuTriggerFor]="actionMenu" (click)="$event.stopPropagation()">
                                                <mat-icon svgIcon="heroicons_solid:flag" [ngClass]="{
                                                    'text-red-600': checklist.priority === 1,
                                                    'text-yellow-400': checklist.priority === 2,
                                                    'text-green-500': checklist.priority === 3
                                                }"></mat-icon>
                                            </span>
                                            <mat-menu #actionMenu="matMenu">
                                              <button mat-menu-item (click)="togglePriority(checklist.cPId, checklist.priority, 1)">
                                                <mat-icon svgIcon="heroicons_solid:flag" class="text-red-600"></mat-icon> High
                                              </button>
                                              <button mat-menu-item (click)="togglePriority(checklist.cPId, checklist.priority, 2)">
                                                <mat-icon svgIcon="heroicons_solid:flag" class="text-yellow-400"></mat-icon> Medium
                                              </button>
                                              <button mat-menu-item (click)="togglePriority(checklist.cPId, checklist.priority, 3)">
                                                <mat-icon svgIcon="heroicons_solid:flag" class="text-green-500"></mat-icon> Low
                                              </button>
                                            </mat-menu>
                                          </div>
                                          
                                    </div>
                                </div>               
                        </fuse-card>
                    </ng-container>
                </ng-container>  
    

        </div>



    <div class="flex  border-t justify-end gap-4 pt-3">
        <button mat-stroked-button class="h-8" (click)="closeDialog()">
            <span class="inline-flex items-center justify-between w-full leading-5">
                <span class="ml-1 text-xs">Cancel</span>
            </span>
        </button> -->


    <!-- <button mat-stroked-button class="h-8 primary-2" (click)="onNextClick()" [disabled]="viewForm.invalid || viewForm.value.clId==-1">
        <span class="inline-flex items-center justify-between w-full leading-5">
            <span class="ml-1 text-xs">{{ activeView == 2 ? 'Save' : 'Next' }}</span>
        </span>
    </button> -->


    <!-- </div> 

</div> -->