<div class="flex flex-col flex-auto w-full h-full overflow-hidden  px-4">
    <div class="flex flex-col gap-2 sm:flex-col items-end p-6 sm:py-4 md:px-8 border-b">
        <div class="flex gap-1 items-center" (click)="closeDialog()">
            <mat-icon class="icon-size-4" matPrefix svgIcon="feather:arrow-left-circle"></mat-icon>
            <div class="text-md font-normal tracking-tight leading-none hover:underline hover:cursor-pointer">Back to Lead</div>
        </div>
    </div>
  
<div class="flex w-full">
    <div class="text-3xl font-bold tracking-tight leading-none py-4">Checkpoints</div>
</div>
    <div class="flex w-full flex-col flex-auto">
        <ng-container *ngIf="(checkpoints$ | async) as checkpoint" >
            <ng-container  *ngIf="checkpoint && checkpoint.length;">
            <ng-container *ngFor="let cp of checkpoint">
                <fuse-card
                    class="relative flex flex-col w-full filter-testimonial mb-2 rounded-sm cursor-pointer shadow-md bg-default">
                    <div class="flex flex-row items-center justify-between p-1">
                        <div class="flex flex-row items-center justify-start max-w-3/4 w-3/4  min-w-3/4">

                            <button mat-icon-button (click)="$event.stopPropagation()"
                                (click)="toggleStatus(cp)" >
                                <mat-icon [svgIcon]="'heroicons_outline:check-circle'" [ngClass]="{
                                                                        ' text-green-700 ': cp.status === 1,
                                                                        ' text-gray-500'  : cp.status === 0}">
                                </mat-icon>
                            </button>
                            <div class="flex flex-wrap ml-1 text-md font-semibold line-clamp-1 min-w-2/4 max-w-2/4 w-2/4" [ngClass]="{'text-secondary line-through': cp.status === 1}">
                                {{cp.title}}
                            </div>
                        </div>
                        
                        <div class="flex items-center flex-wrap ml-1 text-md font-semibold line-clamp-1 w-auto">
                            <span class="text-xs text-secondary font-light"></span>
                            Required {{cp.isRequired}}  
                        </div>
                      
                        <div class="flex items-center flex-wrap ml-1 text-md font-semibold line-clamp-1 w-auto">
                            <span class="text-xs text-secondary font-light"></span>
                                {{cp.dueDate|date}}
                        </div>
                        <div class="flex flex-row  justify-between dark:bg-transparent gap-2 w-auto">
                            <div class="flex items-center">
                                <span [matMenuTriggerFor]="actionMenu" (click)="$event.stopPropagation()">
                                    <mat-icon svgIcon="heroicons_solid:flag" [ngClass]="{
                                                                            'text-red-600': cp.priority === 1,
                                                                            'text-yellow-400': cp.priority === 2,
                                                                            'text-green-500': cp.priority === 3
                                                                        }"></mat-icon>
                                </span>
                            </div>
                        </div>
                    </div>
                </fuse-card>
            </ng-container>
        </ng-container>
        </ng-container>
   

    </div>
</div>
