<div class="flex flex-col flex-auto md:w-auto md:min-w-auto max-h-auto  -m-6 overflow-y-auto">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium" i18n>Quick demo video</div>
        <button mat-icon-button (click)="closeDialog()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

        <iframe width="960" height="450" src="https://www.youtube.com/embed/0lcZQyVTNRE">
    </iframe>
 
</div>

