<!-- <div class="flex justify-between max-w-full min-w-full">
    <div class="flex-1" style="max-width: 22rem!important;">
        <app-company-info></app-company-info>
    </div>
    <div class="flex-1 flex-grow"> -->
        <!-- <app-company-wrapper></app-company-wrapper>
    </div> -->
    <!-- <div class="flex-1" style="max-width: 18rem!important;">
        <app-company-data></app-company-data>
    </div> -->
<!-- </div> -->

<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full">

        <!-- Drawer -->
        <mat-drawer
            class="flex w-80 min-w-80 dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            #matDrawer>
            <app-company-info></app-company-info>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex-auto">
                <app-company-wrapper></app-company-wrapper>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>

