<div class="flex flex-col w-full">
    <div class="flex justify-end mb-4">
        <button  mat-flat-button [color]="'primary'" class="text-xs h-8" [matTooltip]="'Create New Email'" (click)="addEmail()">
            Create Email
        </button>
    </div>
    <ng-container *ngIf="filteredData$|async as emails; else noEmails">
        <ng-container *ngIf="emails.length else noEmails">
            <ng-container *ngFor="let email of emails">
                <fuse-card class="relative flex flex-col w-full p-4 filter-testimonial my-2 rounded-sm cursor-pointer" (click)="updateEmail(email)">
                    <div class="flex flex-row justify-between w-full">
                        <span class="flex text-md truncate"><b>Email</b>&nbsp;{{"Sent by "+
                            email.createdByTitle}}</span>
                        <span class="flex text-md truncate">{{email.createdDate | date:'long'}}</span>
                    </div>
                    <div class="flex flex-col mt-2">
                        <div>
                            <span class="text-md font-semibold">Subject</span>
                            <div class="mt-2 px-2 py-2 rounded-lg bg-gray-200 dark:bg-gray-300">
                               <span class="flex flex-wrap text-xs sm:text-sm">{{email.subject}}</span>
                            </div>
                        </div>
                        <div>
                            <span class="text-md font-semibold">Description</span>
                            <div class="mt-2 px-2 py-2 rounded-lg bg-gray-200 dark:bg-gray-300">
                               <span class="flex flex-wrap text-md line-clamp-3" [innerHTML]="sanitizeHtml(email.description)"></span>
                            </div>
                        </div>
                    </div>
                </fuse-card>
            </ng-container>
        </ng-container>
    </ng-container>

    <!-- No Task -->
    <ng-template #noEmails>
        <div class="flex flex-auto flex-col items-center mt-4 justify-center bg-gray-100 dark:bg-transparent">
            <mat-icon
                class="icon-size-24"
                [svgIcon]="'heroicons_outline:clipboard-list'"></mat-icon>
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">No email found!</div>
        </div>
    </ng-template>
</div>