<div class="w-full max-w-screen-xl mx-auto py-3">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-3 w-full min-w-0 ">
    <!-- Total Leads -->
    <div class="flex flex-col items-center flex-auto p-2  bg-card shadow rounded-2xl overflow-hidden">
      <div class="flex flex-col items-center">
        <div class="text-3xl sm:text-3xl font-bold tracking-tight leading-none text-blue-500">
          {{ totalLeads }}
        </div>
        <div class="text-md font-medium text-blue-600 dark:text-blue-500" i18n>Total Leads</div>
      </div>
    </div>
  </div>
</div>