<div class="absolute inset-0 flex flex-col min-w-0 bg-default overflow-auto">
    <!-- Main -->
    <div class="flex-auto">
        <!-- Header -->
        <div class="flex flex-col bg-card sm:flex-row md:flex-col flex-auto justify-between py-3 px-6 md:px-8">
            <!-- Title -->
            <div>
                <div class="text-3xl font-bold tracking-tight leading-none" matTooltip="You Can Creat custom Form For Your Lead" i18n>Forms</div>
                <div class="ml-0.5 font-medium text-secondary">
                    <ng-container *ngIf="formList.length > 0">
                        {{formList.length}}
                    </ng-container>
                    {{formList.length | i18nPlural: {
                    '=0' : 'No Forms',
                    '=1' : 'Report',
                    'other': 'Forms'
                    } }}
                </div>
            </div>
            <div class="flex items-center mt-4 mb-2 sm:mt-0 md:mt-4">
                <!-- Search -->
                <div class="flex-auto">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        <input matInput (keyup)="applyFilter($event)" [formControl]="searchInputControl"
                            [autocomplete]="'off'" [placeholder]="'Search Forms'">
                    </mat-form-field>
                </div>
                <!-- Add company button -->
                <button class="ml-4 h-8 primary-2" mat-flat-button [color]="'primary'" (click)="createForm()">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1 text-xs" i18n>Add</span>
                </button>
            </div>
        </div>
        <div class="flex flex-grow py-5 bg-default px-6 min-w-full">
            <div class="grid grid-cols-1 md:grid-cols-3  sm:grid-cols-2 gap-4 w-full">
                <div *ngFor="let f of formList; let i = index"
                    class="flex flex-col p-4 border-1 min-h-30 bg-white hover:border-2 border-gray-500 shadow overflow-hidden hover:shadow-xl transition-shadow duration-200 ease-in-out justify-between relative">
                    <div (mouseenter)="updateHoverState(i, true)" (mouseleave)="updateHoverState(i, false)">
                        <div class="flex flex-col justify-start gap-2 pb-2">
                            <div class="flex gap-2">
                                <span class="items-center text-xl font-semibold">{{f.name}}</span>
                                <mat-icon class="icon-size-4 self-center top-2 right-2 cursor-pointer text-accent2"
                                    [svgIcon]="'heroicons_outline:pencil'" *ngIf="isHovered[i]"
                                    (click)="editForm(f)"></mat-icon>
                            </div>
                            <span class="items-center text-base hover:underline text-accent2 cursor-pointer"
                                (click)="viewConfigurator(f)" i18n>View Form</span>
                        </div>
                        <div class="flex w-full border-t-2 justify-between pt-2">
                            <span class="flex gap-1 cursor-pointer" (click)="linkForm(f)">
                                <mat-icon class="icon-size-4 text-black self-center" matPrefix
                                    svgIcon="heroicons_outline:link"></mat-icon>
                                <span class="text-base font-semibold self-center" i18n>
                                    Copy Link
                                </span>
                            </span>
                            <!-- <span>
                                <button mat-stroked-button color="primary" class="h-8">
                                    <span class="text-xs">Share</span>
                                </button>
                            </span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>