<div class="relative flex flex-auto w-full bg-card dark:bg-transparent" >

    <mat-drawer-container
        class="flex-auto h-full"
        [hasBackdrop]="false">

        <!-- Drawer -->
        <mat-drawer
            class="w-full sm:w-100 lg:border-r lg:shadow-none dark:bg-gray-900"
            [autoFocus]="false"
            [(opened)]="drawerOpened"
            #drawer>

            <!-- Profile -->
            <!-- <ng-container *ngIf="drawerComponent === 'profile'">
                <chat-profile [drawer]="drawer"></chat-profile>
            </ng-container> -->

        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex overflow-hidden">
            <!-- Chats list -->
            <ng-container *ngIf="tickets && tickets.length > 0; else noTickets">
                <div class="relative flex flex-auto flex-col w-full min-w-0 lg:min-w-100 lg:max-w-72 bg-card dark:bg-transparent">

                    <!-- Header -->
                    <div class="flex flex-col flex-0 py-4 px-8 border-b bg-gray-50 dark:bg-transparent">
                        <div class="flex items-center">
                            <div class="flex items-center mr-1 cursor-pointer">
                                <div class="w-10 h-10">
                                    <ng-container *ngIf="user.avatar">
                                        <img class="object-cover w-full h-full rounded-full" [src]="user.avatar" alt="Profile avatar" />
                                    </ng-container>
                                    <ng-container *ngIf="!user.avatar">
                                        <div
                                            class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                            {{user.name.charAt(0)}}
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="ml-4 font-medium truncate">{{user.name}}</div>
                            </div>
                        </div>
                        <!-- Search -->
                        <div class="mt-4">
                            <mat-form-field
                                class="fuse-mat-no-subscript fuse-mat-rounded fuse-mat-dense w-full"
                                [floatLabel]="'always'">
                                <mat-icon
                                    matPrefix
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input
                                    matInput
                                    [autocomplete]="'off'"
                                    [placeholder]="'Search or start new chat'"
                                    (input)="filterChats(searchField.value)"
                                    #searchField>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Chats -->
                    <div class="flex-auto" fuseScrollbar>
                        <ng-container *ngIf="filteredTickets.length > 0; else noTickets">
                            <ng-container *ngFor="let ticket of filteredTickets; trackBy: trackByFn">
                                <a
                                    class="z-20 flex items-center py-5 px-8 cursor-pointer border-b"
                                    [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedTicket || selectedTicket.ticketId !== ticket.ticketId,
                                                'bg-primary-50 dark:bg-hover': selectedTicket && selectedTicket.ticketId === ticket.ticketId}"
                                    [routerLink]="[ticket.ticketId]">
                                    <div class="relative flex flex-0 items-center justify-center w-10 h-10">                       
                                    <ng-container *ngIf="ticket.socialMediaPlatform=='Instagram'">
                                            <div
                                                class="absolute bottom-0 right-0 flex-0 w-4 h-4 -ml-0.5 rounded-full  bg-white"
                                                >
                                            <img src="assets/images/logo/instagram.svg" alt=""> </div>
                                        </ng-container>
                                        <ng-container>
                                            <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                <mat-icon svgIcon="heroicons_outline:user-circle"></mat-icon>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="min-w-0 ml-4 w-full">
                                        <div class="font-medium leading-5 truncate" i18n>Client#{{ticket.customerId}}</div>
                                        <div
                                            class="leading-5 truncate text-secondary"
                                            [class.font-bold]="!ticket.latestConversation.readStatus"
                                            [class.dark:text-primary-500]="ticket.latestConversation.readStatus">
                                            {{ticket.latestConversation.messageBody}}
                                        </div>
                                    </div>
                                    <div class="flex flex-col items-end self-start ml-auto pl-2 w-2/5">
                                        <div class="text-sm leading-5 text-secondary inline-block">{{ticket.timestamp | date}}</div>
                                        <ng-container *ngIf="ticket.muted">
                                            <mat-icon
                                                class="icon-size-5 text-hint"
                                                [svgIcon]="'heroicons_solid:volume-off'"></mat-icon>
                                        </ng-container>
                                       

                                    </div>
                                </a>
                            </ng-container>
                        </ng-container>
                    </div>

                </div>

            </ng-container>

            <!-- No chats template -->
            <ng-template #noTickets>
                <div class="flex flex-auto flex-col items-center justify-center h-full">
                    <mat-icon
                        class="icon-size-24"
                        [svgIcon]="'heroicons_outline:chat'"></mat-icon>
                    <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary" i18n>No Tickets</div>
                </div>
            </ng-template>

            <!-- Conversation -->
            <ng-container *ngIf="tickets && tickets.length > 0">
                <div
                    class="flex-auto border-l"
                    [ngClass]="{'z-20 absolute inset-0 lg:static lg:inset-auto flex': selectedTicket && selectedTicket.ticketId,
                                'hidden lg:flex': !selectedTicket || !selectedTicket.ticketId}">
                    <router-outlet></router-outlet>
                </div>
            </ng-container>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
