.mat-expansion-indicator::after {
    color: #0c5d99 !important;
}

.Status5{
    background-color: #4caf50!important;
}
.Status4{
    background-color: #FF5722 !important;
}

.status1{
    background-color: #0c5d99 !important;
}