<div class="w-full ">

    <!-- Form -->
    <form >

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Our Integrations</div>
            <div class="text-secondary">Connect your channel to <b>Quantus</b> ensuring a streamlined flow of leads and fostering effective communication with your clients.</div>
        </div>
        <div class="my-5 border-t"></div>
        <div class="flex flex-col md:flex-row lg:flex-row w-full mt-2 gap-2 items-center">
                      <!-- Card #15 -->
                      <fuse-card class="flex flex-col max-w-80 pb-4 w-full p-4  filter-article cursor-pointer" (click)="CopyView('messanger')">
                        <div class="flex items-center">
                            <img
                                class="w-8 rounded-lg object-cover"
                                src="assets/images/logo/facebook.svg"
                                alt="Card cover image">
                            <div class="flex flex-col ml-6">
                                <div class="text-md font-semibold leading-tight">Facebook</div>
                                <div class="text-secondary font-medium text-md">Connect With Facebook</div>
                            </div>
                        </div>
                        <!-- <div class="mt-2 group-hover">From rocky mountains rfrw3erwe werwe werwe werwer </div>  -->
                       
                    </fuse-card>
        
                    <fuse-card class="flex flex-col max-w-80 pb-4 w-full p-4  filter-article cursor-pointer" (click)="CopyView('instagram')">
                        <div class="flex items-center" >
                            <img
                                class="w-8 rounded-lg object-cover"
                                src="assets/images/logo/instagram.svg"
                                alt="Card cover image">
                            <div class="flex flex-col ml-6">
                                <div class="text-md font-semibold leading-tight">instagram</div>
                                <div class="text-secondary font-medium text-md">Connect With instagram</div>
                            </div>
                        </div>
                      
                    </fuse-card>

                    <fuse-card class="flex flex-col max-w-80 pb-4 w-full p-4  filter-article cursor-pointer" (click)="CopyView('whatsapp')">
                        <div class="flex items-center">
                            <img
                                class="w-8 rounded-lg object-cover"
                                src="assets/images/logo/whatsapp.svg"
                                alt="Card cover image">
                            <div class="flex flex-col ml-6">
                                <div class="text-md font-semibold leading-tight">Whatsapp</div>
                                <div class="text-secondary font-medium text-md">Connect With Whatsapp</div>
                            </div>
                        </div>
                        <!-- <div class="mt-2 group-hover">From rocky mountains rfrw3erwe werwe werwe werwer </div>  -->
                       
                    </fuse-card>
                  
        </div>

        <div class="flex flex-col md:flex-row lg:flex-row w-full mt-4 gap-2 items-center">
            <fuse-card class="flex flex-col max-w-80 pb-4 w-full p-4  filter-article cursor-pointer" (click)="CopychatBot('chatbot')" >
                <div class="flex items-center">
                    <img
                        class="w-8 rounded-lg object-cover"
                        src="assets/images/logo/chatbot-svgrepo-com.svg"
                        alt="Card cover image">
                    <div class="flex flex-col ml-6">
                        <div class="text-md font-semibold leading-tight">Chatbot</div>
                        <div class="text-secondary font-medium text-md">Add Chatbot to your Website</div>
                    </div>
                </div>
            </fuse-card>
            <fuse-card class="flex flex-col max-w-80 pb-4 w-full p-4 filter-article bg-gray-100 cursor-pointer">
                <div class="flex items-center">
                    <img
                        class="w-8 rounded-lg object-cover"
                        src="assets/images/logo/linkedin.svg"
                        alt="Card cover image">
                    <div class="flex flex-col ml-6">
                        <div class="text-md font-semibold leading-tight">LinkedIn</div>
                        <div class="text-secondary font-medium text-md">We are working on LinkedIn.</div>
                    </div>
                </div>
               
               
            </fuse-card>
            <fuse-card class="flex flex-col max-w-80 pb-4 w-full p-4 bg-gray-100  filter-article cursor-pointer">
                <div class="flex items-center">
                    <img
                        class="w-8 rounded-lg object-cover"
                        src="assets/images/logo/Tiktok.svg"
                        alt="Card cover image">
                    <div class="flex flex-col ml-6">
                        <div class="text-md font-semibold leading-tight">TikTok</div>
                        <div class="text-secondary font-medium text-md">We are working on TikTok.</div>
                    </div>
                </div>
           
                
            </fuse-card>

         
</div>

    
<div class="my-5 border-t"></div>
      
    </form>

</div>
