<div class="flex flex-col flex-auto md:w-160 md:min-w-160">
    <ng-container *ngIf="fieldArray">
        <div class="flex flex-col flex-grow bg-gray-300">

            <form class="m-6">
                <ng-container *ngFor="let field of fieldArray; let i = index">
                    <div *ngIf="field.fieldType == 1">
                        <mat-form-field class="fuse-mat-dense w-full">
                            <mat-label>{{field.fieldLabel}}</mat-label>
                            <input matInput [(ngModel)]="field.result" [spellcheck]="false"
                                [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>
                    <div *ngIf="field.fieldType == 2">
                        <mat-form-field class="fuse-mat-dense w-1/2">
                            <mat-label>{{field.fieldLabel}}</mat-label>
                            <input matInput [(ngModel)]="field.result" [spellcheck]="false"
                                [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>
                    <div *ngIf="field.fieldType == 3">
                        <mat-form-field class="fuse-mat-dense w-1/2">
                            <mat-label>{{field.fieldLabel}}</mat-label>
                            <input matInput [(ngModel)]="field.result" [spellcheck]="false"
                                [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>
                    <div *ngIf="field.fieldType == 4">
                        <mat-form-field class="fuse-mat-dense w-1/2">
                            <mat-label>{{field.fieldLabel}}</mat-label>
                            <input matInput 
                            [matDatepicker]="picker"
                            (dateChange)="onDatePicked($event, field.fieldLabel)"
                            [spellcheck]="false"
                            [ngModelOptions]="{standalone: true}">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div *ngIf="field.fieldType == 5">
                        <mat-checkbox name="field.fieldLabel" [checked]="field.result==='true'"
                            (change)="onCheckBoxChange($event, field.fieldLabel)">
                            {{field.fieldLabel}}
                        </mat-checkbox>
                    </div>
                    <div *ngIf="field.fieldType == 6">
                        <mat-form-field class="fuse-mat-dense w-1/2">
                            <mat-label>{{ field.fieldLabel }}</mat-label>
                            <mat-select [(ngModel)]="field.result" name="field.values">
                                <ng-container *ngFor="let value of field.values|Split">
                                    <mat-option [value]="value">{{value}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="field.fieldType == 7">
                        <mat-form-field class="fuse-mat-dense w-1/2">
                            <mat-label>{{ field.fieldLabel }}</mat-label>
                            <mat-select name="field.values"
                                (selectionChange)="onMultipleSelect($event, field.fieldLabel)" multiple>
                                <ng-container *ngFor="let value of field.values|Split">
                                    <mat-option [value]="value">{{value}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </ng-container>
            </form>
            <button class="ml-2 self-center " mat-flat-button [color]="'primary'" (click)="allFormFieldsSaved()">
                Save
            </button>
        </div>
    </ng-container>
</div>