<div class="flex flex-col flex-auto md:w-160 md:min-w-160">
    <ng-container *ngIf="fieldArray">
        <div class="flex flex-col flex-grow bg-gray-300">

            <form class="m-6" #customForm="ngForm">
                <ng-container *ngFor="let field of fieldArray; let i = index">
                    <div *ngIf="field.fieldType == 1">
                        <mat-form-field class="fuse-mat-dense w-full">
                            <mat-label>{{field.fieldLabel}}</mat-label>
                            <input matInput [(ngModel)]="field.result" [id]="field.fieldLabel" [spellcheck]="false"
                                 [ngStyle]="applyCustomStyles(field)" [required]="field.isFixed" [name]="field.fieldLabel">
                        </mat-form-field>
                    </div>
                    <div *ngIf="field.fieldType == 2">
                        <mat-form-field class="fuse-mat-dense w-full">
                            <mat-label>{{field.fieldLabel}}</mat-label>
                            <textarea matInput 
                            [(ngModel)]="field.result" 
                            [id]="field.fieldLabel" [name]="field.fieldLabel"
                            [spellcheck]="false"
                            [ngStyle]="applyCustomStyles(field)"></textarea>
                        </mat-form-field>
                    </div>
                    <div *ngIf="field.fieldType == 3">
                        <mat-form-field class="fuse-mat-dense w-full " [class]="field.css">
                            <mat-label>{{field.fieldLabel}}</mat-label>
                            <input matInput type="number"
                            [(ngModel)]="field.result" 
                            [id]="field.fieldLabel" [name]="field.fieldLabel"
                            [spellcheck]="false"
                            [ngStyle]="applyCustomStyles(field)">
                        </mat-form-field>
                    </div>
                    <div *ngIf="field.fieldType == 4">
                        <mat-form-field class="fuse-mat-dense w-full">
                            <mat-label>{{field.fieldLabel}}</mat-label>
                            <input matInput 
                            [matDatepicker]="picker"
                            [id]="field.fieldLabel" [name]="field.fieldLabel"
                            (dateChange)="onDatePicked($event, field.fieldLabel)"
                            [spellcheck]="false"
                            [ngStyle]="applyCustomStyles(field)">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div *ngIf="field.fieldType == 5">
                        <mat-checkbox name="value" 
                            (change)="onCheckBoxChange($event, field.fieldLabel)">
                            {{field.fieldLabel}}
                        </mat-checkbox>
                    </div>
                    <!-- <div *ngIf="field.fieldType == 6">
                        <mat-form-field class="fuse-mat-dense w-full">
                            <mat-label>{{ field.fieldLabel }}</mat-label>
                            <mat-select [(ngModel)]="field.result" name="field.values" [id]="field.fieldLabel" [name]="field.fieldLabel">
                                <ng-container *ngFor="let value of field.values|Split">
                                    <mat-option [value]="value">{{value}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                    <div *ngIf="field.fieldType == 6">
                        <mat-form-field class="fuse-mat-dense w-full">
                            <mat-label>{{ field.fieldLabel }}</mat-label>
                            <mat-select 
                            [(ngModel)]="field.result" 
                            [name]="field.fieldLabel" [id]="'select-' + field.fieldLabel">
                                <ng-container *ngFor="let value of field.values | Split">
                                    <mat-option [value]="value">{{ value }}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                    <div *ngIf="field.fieldType == 7">
                        <mat-form-field class="fuse-mat-dense w-full">
                            <mat-label>{{ field.fieldLabel }}</mat-label>
                            <mat-select [name]="field.fieldLabel" [id]="'select-' + field.fieldLabel"
                                (selectionChange)="onMultipleSelect($event, field.fieldLabel)" multiple>
                                <ng-container *ngFor="let value of field.values|Split">
                                    <mat-option [value]="value">{{value}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </ng-container>
               
            </form>
            <button type="submit"
            class="self-end mr-6" 
            mat-flat-button [color]="'primary'" 
            [disabled]="!customForm.valid"
            (click)="allFormFieldsSaved()">
                Save
            </button>
            <div *ngIf="saveSuccess" class="text-green-600 font-medium mt-4 ml-6">Save Successful!</div>
        </div>
    </ng-container>
</div>