<div class="flex flex-col w-full overflow-hidden">
    <div class="flex flex-row h-10 sm:h-18 px-8 sm:px-12 bg-accent-100" style="background-color: #00bda5!important;">
        <!-- Close button -->
        <div class="flex justify-start items-center w-full">
            <ng-container *ngIf="company$|async as company">
                <a class="text-2xl text-white font-bold truncate" i18n>{{company.name}}</a>
            </ng-container>
            <ng-container *ngIf="!company$|async as company">
                <a class="text-2xl text-white font-bold" i18n>Create Company</a>
            </ng-container>
        </div>
        <div class="flex items-center justify-end">
            <a mat-icon-button [matTooltip]="'Close'" [routerLink]="['../']" (click)="closeDrawer()">
                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </a>
        </div>
    </div>
    <!-- Edit mode -->
    <ng-container>
        <!-- Contact form -->
        <div class="flex items-center px-8 sm:px-8 pt-6">
            <div class="w-full max-w-3xl">
                <form [formGroup]="companyForm">
                    <div>
                        <mat-form-field class="fuse-mat-dense  w-full">
                            <mat-label i18n>Company Name</mat-label>
                            <input matInput [formControlName]="'name'" [spellcheck]="false" class="h-2!" #name>
                            <mat-error *ngIf="companyForm.get('name').hasError('required')" i18n>
                                Company Name is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="fuse-mat-dense  w-full">
                            <mat-label i18n>Company Domain</mat-label>
                            <input matInput [formControlName]="'website'" [spellcheck]="false" #website>
                            <mat-error *ngIf="companyForm.get('website').hasError('required')" i18n>
                                Website is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="fuse-mat-dense flex-auto w-full">
                            <mat-label i18n>Company Owner</mat-label>
                            <mat-select [formControlName]="'companyOwner'" [spellcheck]="false" #salesOwner>
                                <mat-option value="-1"></mat-option>
                                <ng-container *ngIf="users$|async as users">
                                    <mat-option *ngFor="let user of users" [value]="user.id">{{user.name}}</mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error *ngIf="companyForm.get('companyOwner').hasError('required')" i18n>
                                Company Owner is required
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div>
                        <mat-form-field class="fuse-mat-dense  flex-auto w-full">
                            <mat-label i18n>Industry</mat-label>
                            <mat-select [formControlName]="'industryId'" [spellcheck]="false" #companyIndustryId>
                                <mat-option value="-1"></mat-option>
                                <ng-container *ngIf="industries$|async as industries">
                                    <mat-option *ngFor="let industry of industries"
                                        [value]="industry.industryId">{{industry.industryTitle}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div>
                        <mat-form-field class="fuse-mat-dense  w-full">
                            <mat-label i18n>Phone</mat-label>
                            <input matInput [formControlName]="'mobile'" [spellcheck]="false" #mobile>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="fuse-mat-dense w-full">
                            <mat-label i18n>Work</mat-label>
                            <input matInput [formControlName]="'work'" [spellcheck]="false" #work>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="fuse-mat-dense  w-full">
                            <mat-label i18n>City</mat-label>
                            <input matInput [formControlName]="'billingCity'" [spellcheck]="false" #billingCity>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="fuse-mat-dense  w-full">
                            <mat-label i18n>State</mat-label>
                            <input matInput [formControlName]="'billingState'" [spellcheck]="false" #billingState>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="fuse-mat-dense  w-full">
                            <mat-label i18n>ZIP</mat-label>
                            <input matInput [formControlName]="'billingZip'" [spellcheck]="false" #billingZIP>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="fuse-mat-dense  w-full">
                            <mat-label i18n>Country</mat-label>
                            <input matInput [formControlName]="'billingCountry'" [spellcheck]="false" #billingCountry>
                        </mat-form-field>
                    </div>
                    <!-- Actions -->
                    <div class="flex sticky bottom-0 items-center -mx-8 sm:-mx-8 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <ng-container *ngIf="selectedCompany.companyId !== -1">
                            <button mat-stroked-button class="h-8" [color]="'warn'" [matTooltip]="'Delete'" (click)="delete()">
                                <mat-icon [svgIcon]="'heroicons_outline:trash'" class="icon-size-5"></mat-icon>
                                <span class="ml-2 text-xs" i18n>Delete</span>
                            </button>
                        </ng-container>
                        <button class="ml-auto h-8" mat-stroked-button [matTooltip]="'Cancel'" (click)="closeDrawer()"
                            [routerLink]="['../']">
                            <mat-icon [svgIcon]="'heroicons_outline:x-circle'" class="icon-size-5"></mat-icon>
                            <span class="ml-2 text-xs" i18n>Cancel</span>
                        </button>
                        <button class="ml-2 primary-2 h-8" mat-flat-button [disabled]="companyForm.invalid"
                            [matTooltip]="'Click to Save Company'" (click)="save()">
                            <mat-icon [svgIcon]="'heroicons_outline:check-circle'" class="icon-size-5"></mat-icon>
                            <span class="ml-2 text-xs" i18n>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>