.mat-icon{
    font-size: 16px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}
.btn-size-sm{
    padding: 0!important;
}

th.mat-header-cell {
    position: sticky;
    top: 0;
    background-color: white; /* Adjust as needed */
    z-index: 2;
  }
  .active {
    background-color:#f1f5f9!important; /* Change the background color for the active button */
  }