<style>
    .text-sm {
    font-size: 0.65rem !important;
}
</style>
<div class="flex flex-col w-full">
    <div class="flex items-center mb-2 sm:mt-0 ">
        <div class="flex-auto">
            <search-bar></search-bar>
            
        </div>
    <div class="flex justify-end">
        <button mat-flat-button  class="text-xs h-8 primary-2" [matTooltip]="'Create New Tasks'"
            (click)="addTask()">
            <mat-icon
            class="icon-size-5"
               [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
            <span class="hidden sm:inline-block ml-2">New</span>
        </button>
    </div>
</div>
    <div class="relative">
        <ng-container *ngIf="filteredData$|async as tasks; else noTask">
            <ng-container *ngIf="tasks.length; else noTask">
                <ng-container *ngFor="let task of tasks">
                    <fuse-card class="relative flex flex-col w-full filter-testimonial mb-2 rounded-sm cursor-pointer"
                        (click)="updateTask(task)">                  
                            <div class="flex flex-row items-center justify-between p-2">
                                <div class="flex flex-row items-center justify-center">
                                    
                                    <button mat-icon-button (click)="$event.stopPropagation()" (click)="toggleStatus(task.taskId, task.status, task.taskTitle)">
                                        <mat-icon [svgIcon]="'heroicons_outline:check-circle'" [ngClass]="{
                                            'text-red-300' : task.status === 4,
                                            'text-yellow-300': task.status === 3,
                                            ' text-green-300 ': task.status === 1,
                                            ' text-blue-300'  : task.status === 2}">
                                        </mat-icon>
                                    </button>
                                    <div class="flex flex-wrap ml-1 text-md font-semibold line-clamp-1">
                                        {{task.taskTitle}}
                                    </div>
                                </div>
                                <div class="flex flex-row  justify-between dark:bg-transparent gap-2">
                                    <!-- Added user avatar here -->
                                    <!-- <span class="flex items-center">
                                        <img *ngIf="task.assignedUser && task.assignedUser.avatar" class="object-cover w-8 h-8 rounded-full" [src]="task.assignedUser.avatar" alt="User Avatar" />
                                        <div *ngIf="!task.assignedUser || !task.assignedUser.avatar" class="flex items-center justify-center w-8 h-8 rounded-full text-sm uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                            {{task.assignedUser ? task.assignedUser.firstName.charAt(0) : 'NA'}}
                                        </div>
                                    </span> -->
                                    <!-- End of user avatar -->
                                    <div class="flex flex-row justify-between py-3 px-0">
                                        <span class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide"
                                            [ngClass]="{
                                                'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': task.status === 4,
                                                'bg-yellow-200 text-yellow-800 dark:bg-yellow-600 dark:text-yellow-50': task.status === 3,
                                                'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': task.status === 1,
                                                'bg-blue-200 text-blue-800 dark:bg-blue-600 dark:text-green-50': task.status === 2
                                            }">
                                            <span class="leading-relaxed whitespace-nowrap">{{task.statusTitle}}</span>
                                          
                                        </span>
                                          <!-- Expert -->
                                      
                                    </div>
                                    <div class="flex items-center">
                                        <span [matMenuTriggerFor]="actionMenu" (click)="$event.stopPropagation()">
                                            <mat-icon svgIcon="heroicons_solid:flag" [ngClass]="{
                                                'text-red-600': task.priority === 1,
                                                'text-yellow-400': task.priority === 2,
                                                'text-green-500': task.priority === 3
                                            }"></mat-icon>
                                        </span>
                                        <mat-menu #actionMenu="matMenu">
                                          <button mat-menu-item (click)="togglePriority(task.taskId, task.priority, task.taskTitle, 1)">
                                            <mat-icon svgIcon="heroicons_solid:flag" class="text-red-600"></mat-icon> High
                                          </button>
                                          <button mat-menu-item (click)="togglePriority(task.taskId, task.priority, task.taskTitle, 2)">
                                            <mat-icon svgIcon="heroicons_solid:flag" class="text-yellow-400"></mat-icon> Medium
                                          </button>
                                          <button mat-menu-item (click)="togglePriority(task.taskId, task.priority, task.taskTitle, 3)">
                                            <mat-icon svgIcon="heroicons_solid:flag" class="text-green-500"></mat-icon> Low
                                          </button>
                                        </mat-menu>
                                      </div>
                                      
                                </div>
                            </div>               
                    </fuse-card>
                </ng-container>
            </ng-container>  
        </ng-container>

        <ng-template #noTask>
            <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent" style="margin-top: 10%;">
                <mat-icon
                    class="icon-size-24"
                    [svgIcon]="'heroicons_outline:clipboard-list'"></mat-icon>
                <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">No task found!</div>
                <span class="underline cursor-pointer" (click)="addTask()">Click to add</span>
            </div>
        </ng-template>
    </div>
</div>